<!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- License URL : https://store.webkul.com/license.html/ -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500i,600,700&display=swap" rel="stylesheet">

<section class="oe_container" id="wk_header" style="background-color: #fff;">
    <div class="mt32 mb32">
        <h2 class="text-center" style="color:#000;font-size:calc(1.0rem + 1vw);">
            Return Merchandise Authorization (RMA)
        </h2>
        <h5 class="mt8 mb8 text-center" style="font-weight:500; font-size:18px; color:#484848; font-family:'Montserrat', sans-serif">
            <i>Easy Returns and exchange with Odoo RMA</i>
        </h5>
    </div>
    <div class="row mt16 mb16 py-2 m-1" style="font-weight:500; font-size:18px; color:#484848; font-family:'Montserrat', sans-serif">
        <div class="container col-md-6  border-right" style="font-weight:500;line-height: 24px;font-size:16px;color:#484848;font-family:'Montserrat', sans-serif; vertical-align: middle; display: grid;">
            <p class="mb4 mt4 mr8" style="font-size:calc(0.75rem + 0.4vw)">
              Now, make the return process easy in Odoo! Odoo Return Merchandise Authorization facilitates your customers to return as well as exchange the products they have bought earlier from your store.
            </p>
        </div>
        <div class="container col-md-6 ">
            <h4 class="ml-md-3 mt-1">Information</h4>
            <div class="mt-2 ml-md-3" style="display:flex">
                <span class="ml-1 mr-2 my-auto"><img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-user-guide.png" alt="user-guide"></span>
                <div style="font-weight: 600;font-size: 14px;line-height: 10px;" class="mt-2">
                    User Guide
                </div>
            </div>
            <div class="ml-md-3" style="display:flex;">
                <span style="font-size:15px; margin-top:0.2rem">https://webkul.com/blog/return-merchandise-authorization/</span>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div style="width:95%;margin: 0 auto;font-family: 'Montserrat', sans-serif;">
        <section style="padding: 20px;background-color: #fff;">
            <h2 style="font-size:26px;color: #333;font-weight: 600;" class="text-center mb-4">HIGHLIGHTS FEATURES</h2>
            <div class="row d-flex justify-content-center align-items-stretch text-center">
                <div class="col-md-6 col-lg-3 col-xs-12 d-flex">
                    <div class="" style="width: 100%; box-shadow: 0 0 2px 1px rgba(0,0,0,0.14);border-radius: 2px;padding: 20px;background-color: #fff">
                        <img src="//apps.odoocdn.com/apps/assets/13.0/rma/Icon-RMA.png" class="mb-3"/>
                        <h6>Manage Returns, Exchange & Repairs</h6>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-xs-12 d-flex">
                    <div class="" style="width: 100%; box-shadow: 0 0 2px 1px rgba(0,0,0,0.14);border-radius: 2px;padding: 20px;background-color: #fff">
                        <img src="//apps.odoocdn.com/apps/assets/13.0/rma/Icon-create-RMA.png" class="mb-3"/>
                        <h6>Create RMA request from Website Or Odoo backend</h6>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-xs-12 d-flex">
                    <div class="" style="width: 100%; box-shadow: 0 0 2px 1px rgba(0,0,0,0.14);border-radius: 2px;padding: 20px;background-color: #fff">
                        <img src="//apps.odoocdn.com/apps/assets/13.0/rma/Icon-Set-RMA.png" class="mb-3"/>
                        <h6>Set and update RMA request status in Odoo</h6>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-xs-12 d-flex">
                    <div class="" style="width: 100%; box-shadow: 0 0 2px 1px rgba(0,0,0,0.14);border-radius: 2px;padding: 20px;background-color: #fff">
                        <img src="//apps.odoocdn.com/apps/assets/13.0/rma/Icon-RMA-Progress.png" class="mb-3"/>
                        <h6>Monitor the Progress in Odoo itself</h6>
                    </div>
                </div>
            </div>
        </section>

        <section style="padding: 20px; background-color: #fff;">
            <div class="row" >
                <div class="col-md-12 col-lg-12 col-xs-12 mb-3" style="box-shadow: 0 0 2px 1px rgba(0,0,0,0.07);border-radius: 2px;padding: 20px;">
                  <div class="row">
                      <img style="max-width: 100%; margin: auto 10px" class="mb-3 mt-2" src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-Helping-seller.png"/>
                      <h2 style="font-weight: 600; font-style:normal;font-size: 26px;color: #333;line-height: 38px; margin: auto 10px">The Purpose of the RMA in Odoo?</h2>
                  </div>
                    <p class="mb-4" style="font-weight: 500;font-size: 16px;color: black;line-height: 38px;">Because Returns are unavoidable. Returns and exchanges cannot be averted in any business</p>
                    <p style="font-size: 16px;color: #555555;line-height: 24px;font-weight: 400;">Odoo Return Merchandise Authorization (RMA) is the tool that essentially streamlines the process of the processing returns and exchanges in your Odoo store.</p><br/>
                    <p style="font-size: 16px;color: #555555;line-height: 24px;font-weight: 400;">A unique RMA is assigned to each returned product for tracking, testing and authorizing appropriate action to serve the customer better.</p><br/>
                    <p style="font-size: 16px;color: #555555;line-height: 24px;font-weight: 400;">And as this product makes its way through different departments such as defect testing, quality check, issuing return refund or exchange, the number helps to maintain the individuality of the product.</p><br/>
                    <p style="font-size: 16px;color: #555555;line-height: 24px;font-weight: 400;">Odoo RMA not only speeds up the process of managing returns and exchanges but organizes your whole reverse logistics department to eliminate delays, mismanagement, and errors.</p><br/>
                    <p style="font-size: 16px;color: #555555;line-height: 24px;font-weight: 400;">It prevents the mishandling, misplacement, and error in processing the product for return or exchange. Thus, streamlining the entire process.</p><br/>
                </div>
                <section>
                  <div class="row pl-4 pr-4">
                    <div class="col-12">
                      <img src="//apps.odoocdn.com/apps/assets/13.0/rma/documentation_banner.png" class="mb-3" style="width:100%;"/>
                    </div>
                  </div>
                </section>
                <div class="col-md-12 col-lg-12 col-xs-12 mb-3" style="box-shadow: 0 0 2px 1px rgba(0,0,0,0.07);border-radius: 2px;padding: 20px;">
                  <div class="row">
                    <img style="max-width: 100%;margin: auto 10px" class="mb-3 mt-2" src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-rma-work-flow.png"/>
                    <h2 style="font-weight: 600; font-style:normal;font-size: 26px;color: #333;line-height: 38px;margin: auto 10px">How does the Odoo RMA module works?</h2>
                  </div>
                    <p style="font-size: 16px;color: #555555;line-height: 24px;font-weight: 400;">The RMA (Return Merchandise Authorization) request for a product can be generated by the customer from website end or by Odoo user in Odoo backend. The request is set to the appropriate RMA stage - submitted, new, etc.</p><br/>
                    <p style="font-size: 16px;color: #555555;line-height: 24px;font-weight: 400;">An RMA number is assigned to the product.</p><br/>
                    <p style="font-size: 16px;color: #555555;line-height: 24px;font-weight: 400;">The best part of the module is, the Odoo users can just mark the current status of the product in the Odoo with a single click. So the other users can pick up from where the last department left to take the product to the next inspection.</p><br/>
                    <p style="font-size: 16px;color: #555555;line-height: 24px;font-weight: 400;">A number of Odoo RMA stages can be created as per requirements, by the user to track the progress of the customer's request.</p><br/>
                    <p style="font-size: 16px;color: #555555;line-height: 24px;font-weight: 400;">Once the product is processed, the exchange or return or refund can be issued and RMA closed.</p><br/>
                </div>
                <div class="col-md-12 col-lg-12 col-xs-12" style="box-shadow: 0 0 2px 1px rgba(0,0,0,0.07);border-radius: 2px;padding: 20px;">
                  <div class="row">
                    <img style="max-width: 100%; margin: auto 10px" class="mb-3 mt-2" src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-customer-website.png"/>
                    <h2 style="font-weight: 600; font-style:normal;font-size: 26px;color: #333;line-height: 38px;margin: auto 10px">RMA Section in Customer Website Portal</h2>
                  </div>
                    <p style="font-size: 16px;color: #555555;line-height: 24px;font-weight: 400;">The customers can create RMA request for their purchased products through his/her website account portal.</p><br/>
                    <p style="font-size: 16px;color: #555555;line-height: 24px;font-weight: 400;">The customer can view the current status of his/her RMA request directly from his/her website account.</p><br/>
                    <p style="font-size: 16px;color: #555555;line-height: 24px;font-weight: 400;">The module also facilitates Odoo User and customer to communicate with each other for any queries, requirements or updates which further bridges the communication gap between the two parties.</p><br/>
                </div>
            </div>
        </section>

        <section style="padding: 20px;background-color: #fff;" class="mb-5">
            <h3 class="text-center" style="font-size:24px;color: #333; font-weight:600">Key Features</h3>
            <p style="font-size: 15px;text-align:center;font-weight: 400;">Here are the key features of Odoo RMA</p>
            <div class="row d-flex justify-content-center align-items-stretch">
                <div class="col-md-6 col-lg-6 col-xs-12 mt-4 d-flex">
                    <div style="box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.15);border-radius: 2px;padding: 20px;background-color: #fff">
                        <h6 class="mb-3" style="font-size: 18px;color: #333;font-weight: 600;font-style: normal;">Added Odoo RMA menu</h6>
                        <div>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">A separate space to manage returns and exchanges in Odoo.</p>
                            </span>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">The Odoo RMA menu is added to keep things organized on your end.</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12 mt-4 d-flex">
                    <div style="box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.15);border-radius: 2px;padding: 20px;background-color: #fff">
                        <h6 class="mb-3" style="font-size: 18px;color: #333;font-weight: 600;font-style: normal;">Designed for Both Website & Backend</h6>
                        <div>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">The customer can generate RMA requests from their website accounts.</p>
                            </span>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">Alternatively, the Odoo user can create an RMA request in the Odoo backend.</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12 mt-4 d-flex">
                    <div style="box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.15);border-radius: 2px;padding: 20px;background-color: #fff">
                        <h6 class="mb-3" style="font-size: 18px;color: #333;font-weight: 600;font-style: normal;">Simple RMA Form</h6>
                        <div>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">Easily legible odoo RMA form is designed for customers' convenience.</p>
                            </span>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">A unique RMA# (number) is assigned to each RMA request.</p>
                            </span>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">The RMA stages are visible on the RMA form for the customers.</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12 mt-4 d-flex">
                    <div style="box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.15);border-radius: 2px;padding: 20px;background-color: #fff">
                        <h6 class="mb-3" style="font-size: 18px;color: #333;font-weight: 600;font-style: normal;">Define Odoo RMA Stages</h6>
                        <div>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">Designate the progress of Odoo RMA process with stages.</p>
                            </span>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">Create representative stages for different product inspections in your RMA process.</p>
                            </span>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">Separate individual stages can be created for returns & exchanges respectively.</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12 mt-4 d-flex">
                    <div style="box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.15);border-radius: 2px;padding: 20px;background-color: #fff">
                        <h6 class="mb-3" style="font-size: 18px;color: #333;font-weight: 600;font-style: normal;">Set RMA Reasons</h6>
                        <div>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">Create a variety of RMA reasons for the customer to choose from.</p>
                            </span>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">The RMA reasons are used by customers to fill RMA form.</p>
                            </span>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">Add apt reasons to better understand the customer's issues.</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12 mt-4 d-flex">
                    <div style="box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.15);border-radius: 2px;padding: 20px;background-color: #fff">
                        <h6 class="mb-3" style="font-size: 18px;color: #333;font-weight: 600;font-style: normal;">Customer-Odoo User Communication</h6>
                        <div>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">The customer and Odoo user can chat with each other through the Odoo chatter.</p>
                            </span>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">Both the parties can exchange queries and update to fast track the RMA process.</p>
                            </span>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">The chat facility curtails any delay due to communications.</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12 mt-4 d-flex">
                    <div style="box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.15);border-radius: 2px;padding: 20px;background-color: #fff">
                        <h6 class="mb-3" style="font-size: 18px;color: #333;font-weight: 600;font-style: normal;">RMA options in Customer website account</h6>
                        <div>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">The customer's website account now allows creating the RMA request.</p>
                            </span>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">He/she can create and view the status of his/her Odoo RMA request.</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12 mt-4 d-flex">
                    <div style="box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.15);border-radius: 2px;padding: 20px;background-color: #fff">
                        <h6 class="mb-3" style="font-size: 18px;color: #333;font-weight: 600;font-style: normal;">Define your Return & Exchange policy</h6>
                        <div>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">The user can add return and exchange policies to the RMA form.</p>
                            </span>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">They are displayed to the customer while creating the RMA request.</p>
                            </span>
                            <span class="d-block">
                                <img src="//apps.odoocdn.com/apps/assets/13.0/rma/icon-check.svg"/>
                                <p class="d-inline" style="font-size: 16px;color: #555;line-height: 25px;font-weight: 400;">Similarly, the terms & conditions can also be displayed in the RMA form.</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section style="padding: 0 20px;background-color: #fff;z-index: 20">
            <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist" style="box-shadow:0 3px 6px 3px rgba(0,0,0,0.06);">
                <li class="nav-item" style="background: #EAEAEA;border: 1px solid #CDCDCD;">
                    <a class="nav-link active" style="color: #000;" id="website-tab" data-toggle="tab" href="#website" role="tab" aria-controls="website" aria-selected="true"><i class="fa fa-globe mr-1"></i>Website View</a>
                </li>
                <li class="nav-item" style="background: #EAEAEA;border: 1px solid #CDCDCD;">
                    <a class="nav-link" style="color: #000;" id="backend-tab" data-toggle="tab" href="#backend" role="tab" aria-controls="backend" aria-selected="false"><i class="fa fa-user mr-1"></i>Admin View</a>
                </li>
            </ul>
        </section>

        <div class="tab-content" id="myTabContent" style="padding: 40px 20px">
            <div class="tab-pane fade show active text-center" id="website" role="tabpanel" aria-labelledby="website-tab">
                <div>
                    <h3 class="mb-4" style="font-weight: 600; font-style:normal;font-size: 26px;color: #333333;">Simple Odoo RMA Form / Create RMA request</h3>
                    <a href="//apps.odoocdn.com/apps/assets/13.0/rma/f2.png"><img style="max-width: 100%; height: auto;" src="//apps.odoocdn.com/apps/assets/13.0/rma/f2.png"/></a>
                    <div style="padding: 20px;background-color: #fff;border-radius: 4px;box-shadow: 2px 3px 8px 0 rgba(0,0,0,0.12);" class="mt-1 mb-5">
                        <p style="margin-bottom: 0;font-size:16px;color: #333;font-weight: 400;">RMA form is filled to create an RMA request.</p>
                    </div>
                    <!-- <a href="f4.png"><img style="max-width: 100%; height: auto;" class="mb-3" src="f4.png"/></a> -->
                    <a href="//apps.odoocdn.com/apps/assets/13.0/rma/f3.png"><img style="max-width: 100%; height: auto;" src="//apps.odoocdn.com/apps/assets/13.0/rma/f3.png"/></a>
                    <div style="padding: 20px;background-color: #fff;border-radius: 4px;box-shadow: 2px 3px 8px 0 rgba(0,0,0,0.12);" class="mt-1 mb-5">
                        <p style="margin-bottom: 0;font-size:16px;color: #333;font-weight: 400;">Consequently, a unique RMA number is provided to each RMA request for easy tracking.</p>
                    </div>
                </div>
                <div class="mb-5" style="margin-top: 4rem;">
                    <h3 class="mb-4" style="font-weight: 600; font-style:normal;font-size: 26px;color: #333333;">RMA form in customer website account</h3>
                    <a href="f-rma-record.png"><img style="max-width: 100%; height: auto;" src="//apps.odoocdn.com/apps/assets/13.0/rma/f-rma-record.png"/></a>
                </div>
                <div style="margin-top: 4rem;">
                    <h3 style="font-weight: 600; font-style:normal;font-size: 26px;color: #333333;">Odoo Admin - Customer Chat</h3>
                    <a href="f-chat.png"><img style="max-width: 100%; height: auto;" src="//apps.odoocdn.com/apps/assets/13.0/rma/f-chat.png" class="mt-3"/></a>
                    <div style="padding: 20px;background-color: #fff;border-radius: 4px;box-shadow: 2px 3px 8px 0 rgba(0,0,0,0.12);" class="mt-1 mb-4">
                        <p style="margin-bottom: 0;font-size:16px;color: #333;font-weight: 400;">RMA in Odoo allows the customer to communicate with the Odoo user and vice-versa using Odoo chatter.</p>
                    </div>
                    <a href="//apps.odoocdn.com/apps/assets/13.0/rma/b-chat.png"><img style="max-width: 100%; height: auto;" src="//apps.odoocdn.com/apps/assets/13.0/rma/b-chat.png"/></a>
                    <div style="padding: 20px;background-color: #fff;border-radius: 4px;box-shadow: 2px 3px 8px 0 rgba(0,0,0,0.12);" class="mt-1">
                        <p style="margin-bottom: 0;font-size:16px;color: #333;font-weight: 400;">The history of Chat can be viewed in the Odoo and in respective customer’s account.</p>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade text-center" id="backend" role="tabpanel" aria-labelledby="backend-tab">
                <div class="mb-5">
                    <h3 class="mb-4" style="font-weight: 600; font-style:normal;font-size: 26px;color: #333333;">List Of All Odoo RMA requests</h3>
                    <a href="//apps.odoocdn.com/apps/assets/13.0/rma/b1.png"><img style="max-width: 100%; height: auto;" src="//apps.odoocdn.com/apps/assets/13.0/rma/b1.png"/></a>
                    <div style="padding: 20px;background-color: #fff;border-radius: 4px;box-shadow: 2px 3px 8px 0 rgba(0,0,0,0.12);" class="mt-1 mb-5">
                        <p style="margin-bottom: 0;font-size:16px;color: #333;font-weight: 400;">A separate menu is provided to manage all RMA requests in Odoo.</p>
                    </div>
                </div>
                <div class="mb-5">
                    <h3 class="mb-4" style="font-weight: 600; font-style:normal;font-size: 26px;color: #333333;">Details of the RMA requests</h3>
                    <a href="//apps.odoocdn.com/apps/assets/13.0/rma/b2.png"><img style="max-width: 100%; height: auto;" src="//apps.odoocdn.com/apps/assets/13.0/rma/b2.png"/></a>
                </div>
                <div class="mb-5">
                    <h3 class="mb-4" style="font-weight: 600; font-style:normal;font-size: 26px;color: #333333;">Odoo RMA Stages</h3>
                    <a href="//apps.odoocdn.com/apps/assets/13.0/rma/b-stages.png"><img style="max-width: 100%; height: auto;" src="//apps.odoocdn.com/apps/assets/13.0/rma/b-stages.png"/></a>
                    <div style="padding: 20px;background-color: #fff;border-radius: 4px;box-shadow: 2px 3px 8px 0 rgba(0,0,0,0.12);" class="mt-1 mb-5">
                        <p style="margin-bottom: 0;font-size:16px;color: #333;font-weight: 400;">The stages are used to show the status of the product under inspection to process RMA.</p>
                        <p style="margin-bottom: 0;font-size:16px;color: #333;font-weight: 400;">Define different stages according to your Returns & exchange process.</p>
                        <p style="margin-bottom: 0;font-size:16px;color: #333;font-weight: 400;">The customer view the current stage of his RMA request in his/her account.</p>
                    </div>
                </div>
                <div class="mb-5">
                    <h3 class="mb-4" style="font-weight: 600; font-style:normal;font-size: 26px;color: #333;">Reasons For RMA</h3>
                    <a href="b-reason.png"><img style="max-width: 100%; height: auto;" src="//apps.odoocdn.com/apps/assets/13.0/rma/b-reason.png"/></a>
                    <div style="padding: 20px;background-color: #fff;border-radius: 4px;box-shadow: 2px 3px 8px 0 rgba(0,0,0,0.12);" class="mt-1 mb-5">
                        <p style="margin-bottom: 0;font-size:16px;color: #333;font-weight: 400;">Define RMA reasons to be filled by the customer while creating the RMA request.</p>
                        <p style="margin-bottom: 0;font-size:16px;color: #333;font-weight: 400;">Different reasons can be added to the Odoo for different circumstances for returns and excnage of a product.</p>
                    </div>
                </div>
                <div class="">
                    <h3 class="mb-4" style="font-weight: 600; font-style:normal;font-size: 26px;color: #333;">Configuration Settings</h3>
                    <a href="b-config.png"><img style="max-width: 100%; height: auto;" src="//apps.odoocdn.com/apps/assets/13.0/rma/b-config.png"/></a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="mb-5 mt-3" id="webkul_support" style="background-color: #fff;">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center" style="font-size:calc(0.7rem + 1.0vw)">Help and Support</h3>
            <p class="mb-2 text-center" style="font-size:calc(0.75rem + 0.4vw)">Get Immediate support for any of your query</p>
        </div>
        <div class="col-12">
            <p class="text-center px-5" style="font-size:calc(0.75rem + 0.4vw)">You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.</p>
        </div>
        <div class="mx-auto col-lg-9 mb-4 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0">
                <div class="col-xl-2 col-lg-2 col-md-2 sol-sm-2 text-center">
                    <img src="//apps.odoocdn.com/apps/assets/13.0/rma/mail.png?77fdd07" alt="mail" class="img img-fluid">
                </div>
                <div class="col-xl-7 col-lg-10 col-md-10 col-sm-10 pl-0 pr-2">
                    <p class="my-2" style="font-weight:bold;color:#555555;font-size:calc(0.75rem + 0.4vw);">Write a mail to us:</p>
                    <a style="font-size:18px;" href="mailto:support@webkul.com">support@webkul.com</a>
                    <p class="my-2" style="font-weight: normal;font-size:calc(0.75rem + 0.4vw);color:#777777;">Any queries or want any extra features? Just drop a mail to our support.</p>
                </div>
                <div class="col-xl-3 col-lg-4 text-center">
                    <a href="mailto:support@webkul.com" style="padding:10px 22px;background-color:#2335D7;font-size:14px;color:#ffffff;"><i class="fa fa-pencil-square-o" style="color:white; margin-right:4px"></i>Write To US</a>
                </div>
            </div>
        </div>
        <div class="mx-auto col-lg-9 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0">
                <div class="col-xl-2 col-lg-2 col-md-2 text-center">
                    <img src="//apps.odoocdn.com/apps/assets/13.0/rma/support-icon.png?77fdd07" alt="support-icon" class="img img-fluid">
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 pl-0">
                    <p class="my-2" style="font-weight:bold;color:#555555;font-size:calc(0.75rem + 0.4vw);">Get in touch with our Expert:</p>
                    <a class="text-break" style="font-size:18px" href="">https://webkul.uvdesk.com/en/customer/create-ticket/</a>
                    <p class="my-2" style="font-weight:normal;font-size:calc(0.75rem + 0.4vw);color:#777777;">Any technical queries, want extra features, or anything else, our team is ready to answer all your questions, just raise a support ticket.</p>
                </div>
            </div>
        </div>
    </div>
</section>
