<section class="oe_container" style="padding: 0% 5% 0% 5%;">
    <div class="oe_spaced" style="text-align:center; margin-bottom: 32px; margin-top: 32px; padding: 15px 66px;box-shadow: 0 0.75rem 1.5rem rgba(60, 72, 88, 0.06) !important;">
        <h2 class="text-center" style="font-family: OpenSans-Bold;font-size: 30px;color: #000000;">
            Product Filterby Price 
        </h2>
        <p style="font-size: 20px;color: #555555;">Product filterby price using price range slider</p>
    </div>
</section>

<!-- =========================== Main Content Section =======================================================-->
<section class="oe_container" style="padding: 0% 5% 0% 5%;">

    <div class="row oe_row oe_spaced" style="width:auto;">
        <div class="col-md-6">
	        <h2 class="oe_slogan" style="text-align: left;font-size: 25px;font-weight: 600;margin: 0px !important;">
	            Key Features
	        </h2>
	        <div class="mt16 mb16">
	            <p class="mb-2 mb-lg-0">
	                <i class="fa fa-check" style="color: green; padding-right: 8px;"></i> 
	                 Filter option on Shop page to filter products by price. 
	            </p>
	            <p class="mb-2 mb-lg-0">
	                <i class="fa fa-check" style="color: green; padding-right: 8px;"></i> 
	                No need to configure to set Min and Max price. 
	            </p>
	            <p class="mb-2 mb-lg-0">
	                <i class="fa fa-check" style="color: green; padding-right: 8px;"></i> 
	                Price filter enable or disable option for admin. 
	            </p>
	            <p class="mb-2 mb-lg-0">
	                <i class="fa fa-check" style="color: green; padding-right: 8px;"></i> 
	                Quick load products based on slider min max range. 
	            </p>
	        </div>
        </div>
        <div class="col-md-6">
            <a>
                <img class="oe_screenshot" src="features.gif" style="width: 95%;margin-left: 25px;margin-bottom: 25px;">
            </a>
        </div>
    </div>

    <div class="oe_row oe_spaced" style="width:auto;">
        <h2 class="oe_slogan" style="text-align: left;font-size: 25px;font-weight: 600;margin: 0px !important;">
            Details
        </h2>
    </div>

    <div class="oe_row oe_spaced" style="width:auto;border:1px solid #E5E9F2;border-radius:5px;box-shadow: 0 0.75rem 1.5rem rgba(60, 72, 88, 0.03) !important;">
        <h2 class="oe_slogan text-center" style="text-align: left;font-size: 25px;font-weight: 600;margin-bottom: 15px;">
            Enable or Disable options to show or hide on your website.
        </h2>
        <a>
            <img class="oe_screenshot" src="img1.png" style="width: 95%;margin-left: 25px;margin-bottom: 25px;">
        </a>
    </div>

    <div class="oe_row oe_spaced" style="width:auto;border:1px solid #E5E9F2;border-radius:5px;box-shadow: 0 0.75rem 1.5rem rgba(60, 72, 88, 0.03) !important;">
        <h2 class="oe_slogan text-center" style="text-align: left;font-size: 25px;font-weight: 600;margin-bottom: 15px;">
            Automatically set min and max price based on list of products
        </h2>
        <a>
            <img class="oe_screenshot" src="img2.png" style="width: 95%;margin-left: 25px;margin-bottom: 25px;">
        </a>
    </div>
    <div class="oe_row oe_spaced" style="width:auto;border:1px solid #E5E9F2;border-radius:5px;box-shadow: 0 0.75rem 1.5rem rgba(60, 72, 88, 0.03) !important;">
        <h2 class="oe_slogan text-center" style="text-align: left;font-size: 25px;font-weight: 600;margin-bottom: 15px;">
            Works with other attributes filter, like Sortby category
        </h2>
        <a>
            <img class="oe_screenshot" src="img3.png" style="width: 95%;margin-left: 25px;margin-bottom: 25px;">
        </a>
    </div>
    <div class="oe_row oe_spaced" style="width:auto;border:1px solid #E5E9F2;border-radius:5px;box-shadow: 0 0.75rem 1.5rem rgba(60, 72, 88, 0.03) !important;">
        <h2 class="oe_slogan text-center" style="text-align: left;font-size: 25px;font-weight: 600;margin-bottom: 15px;">
            Quickly filter and show Product based on min-max price range!
        </h2>
        <a>
            <img class="oe_screenshot" src="quick_filter.gif" style="width: 95%;margin-left: 25px;margin-bottom: 25px;">
        </a>
    </div>
</section>

<!-- =========================== Contact us Section ========================================================  -->
<section class="oe_container">
    <div class="oe_spaced" style="display: block; margin: 0 auto; width: 100%; text-align: center;">
        <div>
            <h2 class="text-center" style="font-size: 28px;color: #000000;">Get Help &amp; Support</h2>
            <div class="mt8 mb8" style="display: inline-block;margin:0px 10px;">
                <span style="font-family: &quot;Montserrat&quot;;">
                    <h4 class="mt16 mb0" style="padding: 16px 45px;font-family: &quot;Montserrat&quot;;background: linear-gradient(to right, #083FDA, #087DDA);text-align: center;box-shadow: 2px 1px 12px 3px #ece6e6;border-radius: 10px;color: #fff;font-weight: 700;"><i class="fa fa-envelope"></i> techinsidersolution@gmail.com</h4>
                </span>
            </div>
        </div>
    </div>
</section>


