<!-- Copyright (c) 2020-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- "License URL : <https://store.webkul.com/license.html/>" -->
<header class="mw-100 d-flex flex-column">
	<h2 class="display-4 text-center font-weight-bold mt-3 mb-2" style="font-size: calc(1.0rem + 1vw);">
		Website Customer Geolocation Address
	</h2>
	<span class="text-center font-italic text-muted my-2" style="font-size: calc(0.7rem + 0.5vw);">
		"Mark Address Directly Via Map in Odoo Website!"
	</span>
	<div class="row justify-content-center my-2">
		<button class="fa fa-file-text-o btn btn-info btn-lg" type="button" data-toggle="collapse" data-target="#collapseUserGuide" aria-expanded="false" aria-controls="collapseUserGuide" style="background: #333DE7;">
			User Guide
		</button>
		<div class="collapse" id="collapseUserGuide">
			<div class="card card-body">
				https://webkul.com/blog/
			</div>
		</div>
	</div>

	<div class="oe_spaced container p-4" style="
			background: #FFFFFF;
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17196);
			text-align: justify;
			border-radius: 2px;
			margin-bottom: 0px !important;
		">
		<p style="font-size: calc(0.7rem + 0.4vw);">
			Customers always go for the services which are easy to use. Adding addresses manually can be a great pain in the head for the customers.
		</p>
		<p class="mt-3 font-weight-bold" style="font-size: calc(0.7rem + 0.4vw);">
			Why not give them flexibility to simply drag on a map to add their address?
		</p>
		<p style="font-size: calc(0.7rem + 0.4vw);">
			Typing the whole long address manually is time taking as well as tedious. Now, you can provide ease to your customers via Odoo Website Customer Geolocation Address.
		</p>
		<p class="mt-3" style="font-size: calc(0.7rem + 0.4vw);">
			Odoo Website Customer Geolocation Address lets you drag as per your location in google map; which automatically fills the customer address in Odoo website.
		</p>
		<p class="mt-3" style="font-size: calc(0.7rem + 0.4vw);">
			<span class="font-weight-bold" data-toggle="tooltip" data-html="true" title="https://en.wikipedia.org/wiki/Google_Maps" target="_blank" style="cursor: pointer;color: #4EC0A8;">In 2020, Google Maps is used by over 1 billion people every month;</span> which shows trust of people in Google Maps due to its accuracy.
		</p>
	</div>
</header>

<section class="mw-100 card p-4">
	<div class="row p-2" style="text-align: justify;">
		<div class="ml-1 mt-2">
			<span>
				<img class="img-thumbnail" src="map.svg" alt="map_banner">
			</span>
		</div>
	</div>
</section>

<section class="oe_spaced mw-100 card p-4">
	<div class="d-flex">
		<img src="prerequisites.svg" alt="import">
		<h3 class="ml-4 align-self-center" style="font-size: calc(0.7rem + 1.0vw);">
			Prerequisites
		</h3>
	</div>
	<div class="row p-2" style="text-align: justify;">
		<div class="mt-2">
			<p style="font-size: calc(0.75rem + 0.4vw);">
                You can create API key with the help of this link : (<span class="font-weight-bold" data-toggle="tooltip" data-html="true" title="https://console.cloud.google.com/apis/credentials" target="_blank" style="cursor: pointer;color: #4EC0A8;">https://console.cloud.google.com/apis/credentials</span>)
			</p>
            <p style="font-size: calc(0.75rem + 0.4vw);">
                After creating API key, you need to enable below mentioned APIs:
			</p>
			<p style="font-size: calc(0.75rem + 0.4vw);">
                <ul class="mx-auto w-100 font-weight-bold" style="list-style-type:circle;font-size: calc(0.75rem + 0.4vw);">
                    <li>Geocoding API</li>
                    <li>Maps JavaScript API</li>
                    <li>Maps Static API</li>
                </ul>
			</p>
			<p style="font-size: calc(0.75rem + 0.4vw);">
				Please go through the link mentioned here: (<span class="font-weight-bold" data-toggle="tooltip" data-html="true" title="https://developers.google.com/maps/documentation/directions/usage-and-billing" target="_blank" style="cursor: pointer;color: #4EC0A8;">https://developers.google.com/maps/documentation/directions/usage-and-billing</span>)
			</p>
			<p style="font-size: calc(0.75rem + 0.4vw);">
                For the directions API Usage and billing.
			</p>
		</div>
	</div>
</section>

<section class="oe_spaced mw-100">
	<h3 class="font-weight" style="font-size: calc(1.2rem + 0.55vw);">
		Detailed Feature List
	</h3>
	<span class="mb-2" style="font-size: calc(0.9rem + 0.2vw);">
		Below is the detailed list of features for Website Customer Geolocation Address module
	</span>
	<div class="row no-gutters mw-100 py-2 pt-4">
		<div class="col-md-6 col-sm-12 pb-2 pb-md-0 pr-md-2">
			<div class="card oe_padded h-100" style="min-height:100px;box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.16);">
				<h4 class="pl-4" style="font-size: calc(0.82rem + 0.45vw);">
					Integrate Google Map with your Odoo Website
				</h4>
				<ul class="mx-auto w-100" style="list-style-type:square;font-size: calc(0.75rem + 0.4vw);">
					<li>The module successfully integrates Google Map to your Odoo Website.</li>
					<li>The customers can use the map to fill their address.</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 pt-2 pt-md-0 pl-md-2">
			<div class="card oe_padded h-100" style="min-height:100px;box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.16);">
				<h4 class="pl-4" style="font-size: calc(0.82rem + 0.45vw);">
					Different Sections of Google Map Integration
				</h4>
				<ul class="mx-auto w-100" style="list-style-type:square;font-size: calc(0.75rem + 0.4vw);">
					<li>Google Map is linked in My Account section so that customer can fill address automatically.</li>
					<li>It is also linked to the checkout page so that customers can fill billing and shipping addresses automatically.</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row no-gutters mw-100 py-2">
		<div class="col-md-6 col-sm-12 pb-2 pb-md-0 pr-md-2">
			<div class="card oe_padded h-100" style="min-height:100px;box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.16);">
				<h4 class="pl-4" style="font-size: calc(0.82rem + 0.45vw);">
					Detect Customer Location Automatically
				</h4>
				<ul class="mx-auto w-100" style="list-style-type:square;font-size: calc(0.75rem + 0.4vw);">
					<li>Current Location of the customer is fetched while adding a new address and also set inside the map</li>
					<li>The module detects customer location via Geocoding services <br/>
						( <span class="font-weight-bold text-warning">Note : This service will only work on secured network i.e https</span>)
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 pt-2 pt-md-0 pl-md-2">
			<div class="card oe_padded h-100" style="min-height:100px;box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.16);">
				<h4 class="pl-4" style="font-size: calc(0.82rem + 0.45vw);">
					Fetch Address via simple click in the Google Map
				</h4>
				<ul class="mx-auto w-100" style="list-style-type:square;font-size: calc(0.75rem + 0.4vw);">
					<li>Customer can click anywhere in the Map to automatically fetch and fill the address.</li>
					<li>The Google Marker is pinpointed in the map where customer clicks</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row no-gutters mw-100 py-2">
		<div class="col-md-6 col-sm-12 pb-2 pb-md-0 pr-md-2">
			<div class="card oe_padded h-100" style="min-height:100px;box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.16);">
				<h4 class="pl-4" style="font-size: calc(0.82rem + 0.45vw);">
					Drag and Drop Via Google Marker
				</h4>
				<ul class="mx-auto w-100" style="list-style-type:square;font-size: calc(0.75rem + 0.4vw);">
					<li>The module allows you to drag and drop via Google Marker to select location with ease.</li>
					<li>It lets customer to automatically fill selected address.</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 pt-2 pt-md-0 pl-md-2">
			<div class="card oe_padded h-100" style="min-height:100px;box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.16);">
				<h4 class="pl-4" style="font-size: calc(0.82rem + 0.45vw);">
					Map the Saved Position at the time Address Updates
				</h4>
				<ul class="mx-auto w-100" style="list-style-type:square;font-size: calc(0.75rem + 0.4vw);">
					<li>Whenever a customer updates his/her city/state/country; it automatically switches to the saved position inside the map.</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row no-gutters mw-100 py-2">
		<div class="col-md-6 col-sm-12 pb-2 pb-md-0 pr-md-2">
			<div class="card oe_padded h-100" style="min-height:100px;box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.16);">
				<h4 class="pl-4" style="font-size: calc(0.82rem + 0.45vw);">
					Fetches Longitude and Latitude of customers
				</h4>
				<ul class="mx-auto w-100" style="list-style-type:square;font-size: calc(0.75rem + 0.4vw);">
					<li>Longitude and latitude is fetched when customer is saved with the help of OpenStreetMap Services</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 pt-2 pt-md-0 pl-md-2">
			<div class="card oe_padded h-100" style="min-height:100px;box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.16);">
				<h4 class="pl-4" style="font-size: calc(0.82rem + 0.45vw);">
					Location is Pointed in the Map as per the Address Saved
				</h4>
				<ul class="mx-auto w-100" style="list-style-type:square;font-size: calc(0.75rem + 0.4vw);">
					<li>Whenever there is an update in the address; it automatically point the same in the map.</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="oe_spaced mw-100">
	<div class="tab-content text-center">
		<div id="dashboard"  aria-labelledby="screenshot-tab">
            <div id="configuration" aria-labelledby="export-tab">
                <div class="card">
                    <h3 class="card-header my-0" style="font-size: calc(0.82rem + 0.55vw);box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.16);">
                        Configuration
                    </h3>
                    <div class="card-body p-3" style="box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.16);">
                        <a class="oe_pic_ctr" href="screenshots/3.png" target="_blank">
                            <img class="oe_picture" src="screenshots/3.png" alt="screenshot">
                        </a>
                    </div>
                </div>
            </div>
			<div class="card">
				<h3 class="card-header my-0" style="font-size: calc(0.82rem + 0.55vw);box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.16);">
					User Account Map
				</h3>
				<div class="card-body p-3" style="box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.16);">
					<a class="oe_pic_ctr" href="screenshots/1.png" target="_blank">
						<img class="oe_picture" src="screenshots/1.png" alt="screenshot">
					</a>
				</div>
			</div>
		</div>
		<div id="checkout" aria-labelledby="export-tab">
			<div class="card">
				<h3 class="card-header my-0" style="font-size: calc(0.82rem + 0.55vw);box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.16);">
					Checkout Address Map
				</h3>
				<div class="card-body p-3" style="box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.16);">
					<a class="oe_pic_ctr" href="screenshots/2.png" target="_blank">
						<img class="oe_picture" src="screenshots/2.png" alt="screenshot">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="mb-5">
	<div class="row">
		<div class="col-12">
			<h3 class="text-center">Help and Support</h3>
			<p class="mb-2 text-center" style="font-size: 0.9375rem;">Get Immediate support for any of your query</p>
		</div>
		<div class="col-12">
			<p class="text-center px-5" style="font-size: 0.9375rem;">You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.</p>
		</div>
		<div class="mx-auto col-lg-9 mb-4 oe_screenshot">
			<div class="row align-items-center justify-content-center mx-0">
				<div class="col-xl-2 col-lg-2 col-md-2 sol-sm-2 text-center">
					<img src="//apps.odoocdn.com/apps/assets/13.0/rma/mail.png" alt="mail" class="img img-fluid">
				</div>
				<div class="col-xl-7 col-lg-10 col-md-10 col-sm-10 pl-0 pr-2">
					<p class="my-2 font-weight-bold">Write a mail to us:</p>
					<a style="font-size: calc(0.75rem + 0.4vw);" href="mailto:support@webkul.com">support@webkul.com</a>
					<p class="my-2 text-muted" style="font-size: 0.8375rem;">Any queries or want any extra features? Just drop a mail to our support.</p>
				</div>
				<div class="col-xl-3 text-center">
					<a class="btn btn-primary" href="mailto:support@webkul.com"><i class="fa fa-pencil-square-o"></i> Write To US</a>
				</div>
			</div>
		</div>
		<div class="mx-auto col-lg-9 oe_screenshot">
			<div class="row align-items-center justify-content-center mx-0">
				<div class="col-xl-2 col-lg-2 col-md-2 text-center">
					<img src="//apps.odoocdn.com/apps/assets/13.0/rma/support-icon.png" alt="support-icon" class="img img-fluid">
				</div>
				<div class="col-xl-10 col-lg-10 col-md-10 p-1">
					<p class="my-2 font-weight-bold">Get in touch with our Expert:</p>
					<span class="text-break text-primary" style="font-size: calc(0.75rem + 0.4vw);" >https://webkul.uvdesk.com/en/customer/create-ticket/</span>
					<p class="my-2 text-muted" style="font-size: 0.8375rem;">Any technical queries, want extra features, or anything else, our team is ready to answer all your questions, just raise a support ticket.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<!-- Piwik Image Tracker-->
		<img alt="" style="border:0"
			src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&amp;rec=1&amp;action_name=WEBSITE-CUSTOMER-GEOLOCATION-ADDRESS&amp;url=https://apps.odoo.com/apps/modules/13.0/geolocation_share&amp;uid=geolocation_share" />
		<!-- End Piwik -->
	</div>
</section>
