/* Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) */
/* See LICENSE file for full copyright and licensing details. */
/* License URL : https://store.webkul.com/license.html/ */

.mvp-panel{
    border: 1px solid #d4d5d7;
    margin: 0;
    border-radius: 0;
}
.mvp-msg{
    font-weight: 700;
    line-height: 18px;
    padding: 12px;
    background: #eee;
    color: #3c3c3c;
    text-align: center;
}
.mv_carousel{
    height: 310px;
    border: 1px solid #d4d5d7;
    border-radius: 0;
    border-top: 0;
}
.mv_product_image{    
    text-align: center;
}
.mv_section{
    padding: 0 15px 24px 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.mv_cart{
    background: #337ab9;
    border: 0;
    padding: 3px 10px 3px 10px;
    margin-top: -4px;
    margin-left: 10px;
    color: white;
}
.mv_products-carousel div.owl-prev {
    position: absolute;
    left: -2%;
    top: 40%;
}

.mv_products-carousel div.owl-next {
    position: absolute;
    right: -2%;
    top: 40%;
}
.mv_products-carousel div.owl-next:after{
    content: "\f105";
    font-family: FontAwesome;
    font-weight: bold;
    font-size: 20px;
}

.mv_products-carousel div.owl-prev:after{
    content: "\f104";
    font-family: FontAwesome;
    font-weight: bold;
    font-size: 20px;
}
.mv_trending_all_btn{
    font-size: 18px;
    background-color: #0094ff;
    color: #FFFFFF;
    border-radius: 6px;
    font-family: Helvetica;
    padding: 6px 12px;
    border: 1px solid transparent;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}
.no_trend_pro_s {
    font-size: 16px;
    text-align: center;
    padding: 50px 0px;
    height: 123px;
    border: 1px solid #d4d5d7;
    border-radius: 0;
    border-top: 0;
}
.no_trend_pro_l {
    text-align: center;
    font-size: 20px;
    padding-bottom: 40px;
    padding-top: 20px;
    color: gray;
}
#mv_small_snippet_carousel .carousel-indicators > li{
    background: #8080806b;
}
#mv_small_snippet_carousel .carousel-indicators > li.active{
    background: gray;
}
