<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->

<section class="oe_container oe_dark lead">
    <h2 class="oe_slogan text-primary text-center">Subscription Management</h2>

    <div class="row py-1 mx-1" style="font-weight:500; font-size:18px; color:#484848; font-family:'Montserrat', sans-serif">
        <div class="container col-md-6" style="font-weight:500;line-height: 24px;font-size:16px;color:#484848;font-family:'Montserrat', sans-serif; vertical-align: middle; display: grid;">
            <p class="mb4 mt4 mr8">
                Subscription Management: Subscription Management in Odoo facilitates the creation of subscription-based products in the Odoo.
            </p>
        </div>
        <div class="container col-md-6 ">
            <h4 class="ml-md-3">Information</h4>
            
            <div class="mt-2 ml-md-3" style="display:flex">
                <span class="ml-1 mr-2 my-auto"><img src="icon-user-guide.png" alt="user-guide"></span>
                <div style="font-weight: 600;font-size: 14px;line-height: 10px;" class="mt-2">
                    User Guide
                </div>
            </div>
            <div class="ml-md-3" style="display:flex;">
                <span style="font-size:15px; margin-top:0.2rem">https://webkul.com/blog/odoo-subscription-management/</span>
            </div>
        </div>
    </div>


    <h4 class="oe_slogan">Subscription model can turn to be a huge source of revenue for a business. With the help of
        Odoo Subscription Management module, a user can easily manage subscription for his products. For a business
        owner, it helps to analyze the demand for his products in future. So if you are concerned about your customers
        then this module is for you</h4>
    <div class="row">
        <div class='col-12'>
            <div class="card card-primary" id="wkid0">
                <div class="card-body">
                    <div class="alert alert-info">
                        <i class="fa fa-arrow-circle-o-right"></i>
                        <b> Basic Features </b>
                    </div>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-primary"></i> Using this app user can easily get the
                            subscription to Products.</li>
                        <li><i class="fa fa-check text-primary"></i> Create Subscription Plans.</li>
                        <li><i class="fa fa-check text-primary"></i> Admin can specify the price and duration of the
                            plan.</li>
                        <li><i class="fa fa-check text-primary"></i> Admin can also add trial period on the plans.
                            Hence the duration will start after the completion of trial period.</li>
                        <li><i class="fa fa-check text-primary"></i> Admin can create a product as subscription product
                            and assign the subscription plan.</li>
                        <li><i class="fa fa-check text-primary"></i> The subscription will get created automatically
                            when sales order gets confirmed and at least one subscription type product.</li>
                        <li><i class="fa fa-check text-primary"></i> Subscription can be closed at any time.</li>
                        <li><i class="fa fa-check text-primary"></i> Draft subscription can be canceled at any time.</li>
                        <li><i class="fa fa-check text-primary"></i> The subscription also creates manually.</li>
                        <li><i class="fa fa-check text-primary"></i> Now, Invoice related to subscription has been
                            generated automatically.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oe_container 
                mt16 mb16 lead">
    <div class="row">
        <div class="col-12">
            <div class="card card-info">
                <div class="card-body alert alert-info">
    <h4>Now, let your customers manage their subscription plans for themselves in Odoo Website! <br>
 </h4>
    </div>
    <p class="ml-2" style="
    font-size: 18px;
">Save your time and resources as now you don&#39;t need to do tedious work from the backend to add subscription plans for your customers. <a href="https://www.odoo.com/apps/modules/12.0/website_subscription_management/" target="blank">Odoo Website Subscription Management</a> allows your customers to buy and manage subscription plans from the Odoo website.</p>

            </div>
    </div>
</div>


</section>
<section class="oe_container  oe_dark">
    <div class="row">
        <div class='col-12'>
            <div class="card card-info">
                <div class="card-body">
                    <section class="oe_container  lead">
                        <div class="card-heading alert alert-success"><i class="fa fa-hand-o-right"></i> <b>Subscription
                                Plans</b></div>
                        <a href="1.png">
                            <img class="img-border img-responsive thumbnail" src="1.png">
                        </a>
                    </section>
                    <section class="oe_container  lead mt16">
                        <div class="card-heading alert alert-success"><i class="fa fa-hand-o-right"></i> <b>Create a
                                Subscription Plan</b></div>
                        <a href="2.png">
                            <img class="img-border img-responsive thumbnail" src="2.png">
                        </a>
                    </section>
                    <section class="oe_container  lead mt16">
                        <div class="card-heading alert alert-success"><i class="fa fa-hand-o-right"></i> <b>Subscription
                                Plan with Trial Period and Billing Cycles</b></div>
                        <a href="3.png">
                            <img class="img-border img-responsive thumbnail" src="3.png">
                        </a>
                        <div class="mt16">
                            <p class="bg-primary" style="padding:8px;font-weight: 300; font-size: 18px;"><i class="fa fa-plus-circle"></i>
                                <b>About Subscription Plan with Trial Period:</b>
                            </p>
                            <ul class="list-unstyled ">
                                <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> First of all, You will create a <b>Subscription
                                        Plan</b>. </li>
                                <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> Go to Configuration menu of sale order and
                                    have Subscription Information. Click on Subscription plan menu.</li>
                                <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> Here we have a CheckBox name 'Is plan has
                                    trial period', if we Enable the Checkbox, two new fields are introduced and they
                                    are required, which define the trial Duration</li>
                            </ul>
                        </div>
                        <div>
                            <p class="bg-primary" style="padding:8px;font-weight: 300; font-size: 18px;"><i class="fa fa-plus-circle"></i>
                                <b>About Number of Billing Cycle:</b></p>
                            <ul class="list-unstyled ">
                                <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> In Subscription Plan we have a CheckBox named
                                    <b>'Never Expire'</b>, if we un-tick the Checkbox, then this plan will expire after
                                    a certain period of time interval.</li>
                                <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> In that case, we need to give the <b>'Number
                                        of Billing Cycle'</b>, and billing cycle define that when the subscription
                                    expires. </li>
                            </ul>
                        </div>
                    </section>
                    <section class="oe_container  lead mt16">
                        <div class="card-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b>
                                Subscription Plan with Start Immediately and Never Expire </b></div>
                        <a href="4.png">
                            <img class="img-border img-responsive thumbnail" src="4.png">
                        </a>
                        <div class="mt16">
                            <p class="bg-primary" style="padding:8px;font-weight: 300; font-size: 18px;"><i class="fa fa-plus-circle"></i>
                                <b>About Start Immediately:</b></p>
                            <ul class="list-unstyled ">
                                <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> In subscription plan, we have a CheckBox named
                                    <b>'Start Immediately'</b>, if we Enable the Checkbox, then this plan does not have
                                    any Trial period. Its, billing start immediately.</li>
                            </ul>
                        </div>
                        <div>
                            <p class="bg-primary" style="padding:8px;font-weight: 300; font-size: 18px;"><i class="fa fa-plus-circle"></i>
                                <b>About Never Expire:</b></p>
                            <ul class="list-unstyled ">
                                <li style='font-size: 16px;'><i class="fa fa-check-circle-o"> </i> In subscription plans, we have a CheckBox
                                    named <b>'Never Expire'</b>, if we Enable the Checkbox, then this plan will not
                                    expire.</li>
                                <li style='font-size: 16px;'><i class="fa fa-check-circle-o"> </i> We didn't need to give the <b>'Number of
                                        Billing Cycle'</b>. </li>
                            </ul>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container  lead">
    <div class="row">
        <div class='col-12'>
            <div class="card card-info">
                <div class="card-heading ">
                    <h3 class="card-title"><i class="fa fa-pencil-square-o "></i><b> Product </b></h3>
                </div>
                <div class="card-body">

                    <div class="card-heading alert alert-success"><i class="fa fa-arrow-circle-o-right"></i><b> Create
                            Subscription Type Product: </b></div>
                    <p><img class="img-border img-responsive thumbnail" src="5.png" alt="5"></p>
                    <div class="mt16">
                        <p class="bg-primary" style="padding:8px;font-weight: 300; font-size: 18px;"><i class="fa fa-plus-circle"></i>
                            <b>How we create Subscription Type Product:</b></p>
                        <ul class="list-unstyled ">
                            <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> First of all, You will create a <b>Product</b>.
                            </li>
                            <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> Here we have a CheckBox named <b>'Is Subscription
                                    Type'</b>, if we Enable the Checkbox, then the product is subscription type
                                product.</li>
                            <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> Now we choose a Subscription plan for the period,
                                so select the <b>Subscription Plan</b>. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oe_container  lead">
    <div class="row">
        <div class='col-12'>
            <div class="card card-info">
                <div class="card-heading ">
                    <h3 class="card-title"><i class="fa fa-pencil-square-o "></i> <b> Subscription Source</b></h3>
                </div>
                <div class="card-body">
                    <section class="oe_container  lead">
                        <div class="alert alert-danger" style="padding:8px;font-weight: 300; font-size: 18px;"><i class="fa fa-arrow-circle-o-right"></i><b>
                                Type of Source </b></div>
                        <ul class="list-unstyled ">
                            <li style='font-size: 16px;'><i class="fa fa-check text-primary"></i> Manual</li>
                            <li style='font-size: 16px;'><i class="fa fa-check text-primary"></i> Sale Order</li>
                        </ul>
                        <section class="oe_container  lead">
                            <div class="card-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Manual
                                </b></div>
                            <p><img class="img-border img-responsive thumbnail" src="6.png" alt="6"></p>
                            <div>
                                <p class="bg-primary" style="padding:8px;font-weight: 300; font-size: 18px;"><i class="fa fa-plus-circle"></i><b>
                                        Create Subscription Manually:</b>
                                </p>
                                <ul class="list-unstyled ">
                                    <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> To create a Subscription with source <b>'Manual'</b>,
                                        we need to Subscription from Back-end on the click of Create button. </li>
                                </ul>
                            </div>
                        </section>
                        <section class="oe_container  lead">
                            <div class="card-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Sale
                                    Order </b></div>
                            <div>
                                <p class="bg-primary" style="padding:8px;font-weight: 300; font-size: 18px;"><i class="fa fa-plus-circle"></i><b>
                                        Create Subscription with Sale Order:</b>
                                </p>
                                <ul class="list-unstyled ">
                                    <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> To create a Subscription with source <b>'Sale
                                            Order'</b>, Create a Quotation of Sale Order with at least one subscription
                                        type product in the order line.
                                        <p><img class="img-border img-responsive thumbnail" src="7.png" alt="7"></p>
                                    </li>
                                    <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> When we click on the 'Confirm' button on
                                        the 'Sale Quotation' then, automatically a subscription is created in <b>'In-progress'
                                            state.
                                            <p><img class="img-border img-responsive thumbnail" src="8.png" alt="8"></p>
                                            <p><img class="img-border img-responsive thumbnail" src="9.png" alt="9"></p>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oe_container  lead">
    <div class="row">
        <div class='col-12'>
            <div class="card card-info">
                <div class="card-heading ">
                    <h3 class="card-title"><i class="fa fa-pencil-square-o "></i><b> Invoice </b></h3>
                </div>
                <div class="card-body">

                    <div class="card-heading alert alert-success"><i class="fa fa-arrow-circle-o-right"></i><b> How we
                            Generate Subscription Invoice : </b></div>
                    <p><img class="img-border img-responsive thumbnail" src="10.png" alt="10"></p>
                    <div class="mt16">
                        <ul class="list-unstyled ">
                            <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> Click on the Generate Invoice link in
                                Subscription. </li>
                            <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> If the Subscription is in the Trial period then
                                invoice can't generate until the Trial period ends.
                                <p><img class="img-border img-responsive thumbnail" src="11.png" alt="11"></p>
                            </li>
                            <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> If you cancel the Subscription then all the
                                invoices are paid, other Subscription can't be canceled or close.<p><img class="img-border img-responsive thumbnail"
                                        src="12.png" alt="12"></p>
                            </li>
                            <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> If the configuration setting enables the invoice
                                is created in the paid state. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oe_container  lead">
    <div class="row">
        <div class='col-12'>
            <div class="card card-info">
                <div class="card-heading ">
                    <h3 class="card-title"><i class="fa fa-pencil-square-o "></i><b> Configuration </b></h3>
                </div>
                <div class="card-body">

                    <div class="card-heading alert alert-success"><i class="fa fa-arrow-circle-o-right"></i><b> How we
                            configure setting for Subscription: </b></div>
                    <p><img class="img-border img-responsive thumbnail" src="13.png" alt="13"></p>
                    <div class="mt16">
                        <ul class="list-unstyled ">
                            <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> First of all click on to 'Sale' menu. </li>
                            <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> Go to the setting of sale in Configuration menu.</li>
                            <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> Set the default Payment Method and, </li>
                            <li style='font-size: 16px;'><i class="fa fa-check-circle-o"></i> Enable the CheckBox if you want to create the
                                invoice in 'Paid' state. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pt32" id="webkul_support">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Help and Support</h2>
            <p class="mb-2 text-center" style="font-size:16px; color:#333; font-weight:400">Get Immediate support for any of your query</p>
        </div>
        <div class="col-12">
            <p class="text-center px-5" style="font-size:14px; color:#555; font-weight:normal">You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.</p>
        </div>
        <div class="mx-auto col-lg-9 mb-4 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0 p-3">
                <div class="col-sm-2 text-center pr-0">
                    <img src="mail.png" alt="mail" class="img img-fluid">
                </div>
                <div class="col-xl-7 col-sm-10">
                    <p class="my-2" style="color:#555; font-weight:bold">Write a mail to us:</p>
                    <b class="text-dark" style="font-size:18px">support@webkul.com</b>
                    <p class="my-2" style="font-size:14px; color:#777; font-weight:normal">Any queries or want any extra features? Just drop a mail to our support.</p>
                </div>
                <div class="col-xl-3 offset-xl-0 float-xl-right col-sm-10 offset-sm-2 float-left mt16">
                    <a href="mailto:support@webkul.com" style="padding:10px 22px; background-color:#2335D7; font-size:14px; color:#fff"><i class="fa fa-pencil-square-o" style="color:white; margin-right:4px"></i>Write To US</a>
                </div>
            </div>
        </div>
        <div class="mx-auto col-lg-9 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0 p-3">
                <div class="col-sm-2 text-center pr-0">
                    <img src="support-icon.png" alt="support-icon" class="img img-fluid">
                </div>
                <div class="col-sm-10 ">
                    <p class="my-2" style="font-weight:bold; color:#555">Get in touch with our Expert:</p>
                    <b class="text-dark text-break" style="font-size:18px">https://webkul.uvdesk.com/en/customer/create-ticket/</b>
                    <p class="my-2" style="font-weight:normal; font-size:14px; color:#777">Have any technical queries, want extra features, or anything else? Our team is here to answer all your questions. Just Raise A Support Ticket.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="oe_container">
<div class="oe_span12" style="max-width: 100%;">
    <!-- Matomo Image Tracker-->
    <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=subscription_management&url=https://apps.openerp.com/apps/modules/13.0/subscription_management&uid=subscription_management" style="border:0" alt="" />
    <!-- End Matomo -->
</div>
</section>