<!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- License URL : https://store.webkul.com/license.html/ -->

<section class="oe_container">
    <section class="oe_container" id="wk_header">
        <div class="mt32 mb32">
            <h2 class="text-center" style="color:#000">
                Website Most Viewed Products
            </h2>
            <!-- <h5 class="mt8 mb8 text-center" style="font-weight:500; font-size:18px; color:#484848; font-family:'Montserrat', sans-serif">
                <i>Customers can view all their purchased items at one webpage</i>
            </h5> -->
        </div>
        <div class="row mt16 mb16 py-2 m-1" style="font-weight:500; font-size:18px; color:#484848; font-family:'Montserrat', sans-serif">
            <div class="container col-md-6  border-right" style="font-weight:500;line-height: 24px;font-size:16px;color:#484848;font-family:'Montserrat', sans-serif; vertical-align: middle; display: grid;">
                <p class="mb4 mt4 mr8">
                    Trending products are powerful, as they can reveal what shopping behavior or pattern people are following. Hence, after deep analysis, we have launched our module Website Most Viewed Products which is the need of the hour for an e-commerce website.
                </p>
            </div>
            <div class="container col-md-6 ">
                <h4 class="ml-md-3">Information</h4>
                <div class="mt-2 ml-md-3" style="display:flex">
                    <span class="ml-1 mr-2 my-auto"><img src="icon-user-guide.png" alt="user-guide"></span>
                    <div style="font-weight: 600;font-size: 14px;line-height: 10px;" class="mt-2">
                        User Guide
                    </div>
                </div>
                <div class="ml-md-3" style="display:flex;">
                    <span style="font-size:15px; margin-top:0.2rem">https://webkul.com/blog/odoo-website-most-viewed-products/</span>
                </div>
            </div>
        </div>
    </section>
    <section class="oe_container mb32">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 style="font-size: 25px;"><i class="fa fa-mail-forward"></i> Features:</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check text-primary"></i> Customer can see the most viewed products in trending list.</li>
                            <li><i class="fa fa-check text-primary"></i> Admin can set the number of products to be displayed in trending list.</li>
                            <li><i class="fa fa-check text-primary"></i> Admin can set minimum views limit above which product will appear in trending products.</li>
                            <li><i class="fa fa-check text-primary"></i> Admin can place trending products anywhere on website.</li>
                            <li><i class="fa fa-check text-primary"></i> Customers can see trending products and total views of any product on website.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="oe_container">
        <ul class="nav nav-tabs" style="background-color: #fff;">
            <li class="nav-item active">
                <a href="#trending_products_work_flow_tab" class="nav-link active show" role="tab" aria-selected="true">
                    <h3 class="panel-title"><i class="fa fa-pencil-square-o"></i> <b>Work Flow</b> </h3>
                </a>
            </li>
            <!-- <li class="nav-item">
                <a href="#trending_products_change_log_tab" class="nav-link" role="tab" aria-selected="true">
                    <h3 class="panel-title"><i class="fa fa-code"></i> <b>Change Log</b> </h3>
                </a>
            </li> -->
        </ul>
        <div class="container active" id="my-tab-content">
            <div class="tab-pane" id="trending_products_work_flow_tab">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12">
                        <section style="background:#efefef78;padding: 20px 4%;font-size:17px;margin:20px 0;">
                            <h2 class="oe_slogan text-center" style="color:#875A7B;font-weight: 400;font-size: 35px;margin: 10px 0 0px 0px;">
                                Trending Products settings
                            </h2>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <h3 class="oe_slogan" style="color:#000000;font-weight: 400;font-size: 18px;">
                                        <i class="fa fa-arrow-circle-o-right"></i> Set the number of products to be displayed in trending list.
                                    </h3>
                                    <h3 class="oe_slogan" style="color:#000000;font-weight: 400;font-size: 18px;">
                                        <i class="fa fa-arrow-circle-o-right"></i> Set minimum views limit above which product will be in trending.
                                    </h3>
                                </div>
                                <div class="">
                                    <a href="1.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:480px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="1.png"></a>
                                </div>
                            </div>
                        </section>
                        <section style="background:#efefef78;padding: 20px 4%;font-size:17px;margin:20px 0;">
                            <h2 class="oe_slogan text-center" style="color:#875A7B;font-weight: 400;font-size: 35px;margin: 10px 0 0px 0px;">
                                Product Views
                            </h2>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <h3 class="oe_slogan" style="color:#000000;font-weight: 400;font-size: 18px;">
                                        <i class="fa fa-arrow-circle-o-right"></i> Admin can view and edit product views.
                                    </h3>
                                </div>
                                <div class="">
                                    <a href="2.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:480px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="2.png"></a>
                                </div>
                            </div>
                        </section>
                        <section style="background:#efefef78;padding: 20px 4%;font-size:17px;margin:20px 0;">
                            <h2 class="oe_slogan text-center" style="color:#875A7B;font-weight: 400;font-size: 35px;margin: 10px 0 0px 0px;">
                                Website view for admin
                            </h2>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <h3 class="oe_slogan" style="color:#000000;font-weight: 400;font-size: 18px;">
                                        <i class="fa fa-arrow-circle-o-right"></i> Admin can place trending products anywhere on his/her site.
                                    </h3>
                                </div>
                                <div class="">
                                    <a href="3.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:480px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="3.png"></a>
                                </div>
                                <div class="">
                                    <a href="4.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:480px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="4.png"></a>
                                </div>
                            </div>
                        </section>
                        <section style="background:#efefef78;padding: 20px 4%;font-size:17px;margin:20px 0;">
                            <h2 class="oe_slogan text-center" style="color:#875A7B;font-weight: 400;font-size: 35px;margin: 10px 0 0px 0px;">
                                Website view for customers
                            </h2>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <h3 class="oe_slogan" style="color:#000000;font-weight: 400;font-size: 18px;">
                                        <i class="fa fa-arrow-circle-o-right"></i> Trending products in products grid View.
                                    </h3>
                                </div>
                                <div class="">
                                    <a href="5.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:480px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="5.png"></a>
                                </div>
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <h3 class="oe_slogan" style="color:#000000;font-weight: 400;font-size: 18px;">
                                        <i class="fa fa-arrow-circle-o-right"></i> Trending products in products list View.
                                    </h3>
                                </div>
                                <div class="">
                                    <a href="6.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:480px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="6.png"></a>
                                </div>
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <h3 class="oe_slogan" style="color:#000000;font-weight: 400;font-size: 18px;">
                                        <i class="fa fa-arrow-circle-o-right"></i> Trending product page View.
                                    </h3>
                                </div>
                                <div class="">
                                    <a href="7.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:480px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="7.png"></a>
                                </div>
                                <div class="">
                                    <a href="8.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:1200px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="8.png"></a>
                                </div>
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <h3 class="oe_slogan" style="color:#000000;font-weight: 400;font-size: 18px;">
                                        <i class="fa fa-arrow-circle-o-right"></i> After clicking "view all trending products" customers can see all trending products on single page.
                                    </h3>
                                </div>
                                <div class="">
                                    <a href="9.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:480px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="9.png"></a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- <div class="tab-pane" id="trending_products_change_log_tab">
                <h2 class="oe_slogan text-center" style="font-weight: 700;">
                    <i class="fa fa-code"></i> Change Log
                </h2>
                <section class="oe_container">
                    <div class="oe_container">
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-heading">
                              <h3 class="panel-title"><b>Module Change Log</b></h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Notations description used in this document.
                                </p>
                                <ul class="list-unstyled ">
                                    <li><i class="fa fa-plus text-success" ></i> [Features Added]</li>
                                    <li><i class="fa fa-minus text-danger" ></i> [Features Removed]</li>
                                    <li><i class="fa fa-bug text-warning" ></i> [Bug Fixed]</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div> -->
        </div>
    </section>
</section>

<section class="pt32" id="webkul_support">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Help and Support</h2>
            <p class="mb-2 text-center" style="font-size:16px; color:#333; font-weight:400">Get Immediate support for any of your query</p>
        </div>
        <div class="col-12">
            <p class="text-center px-5" style="font-size:14px; color:#555; font-weight:normal">You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.</p>
        </div>
        <div class="mx-auto col-lg-9 mb-4 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0 p-3">
                <div class="col-sm-2 text-center pr-0">
                    <img src="mail.png" alt="mail" class="img img-fluid">
                </div>
                <div class="col-xl-7 col-sm-10">
                    <p class="my-2" style="color:#555; font-weight:bold">Write a mail to us:</p>
                    <b class="text-primary" style="font-size:18px">support@webkul.com</b>
                    <p class="my-2" style="font-size:14px; color:#777; font-weight:normal">Any queries or want any extra features? Just drop a mail to our support.</p>
                </div>
                <div class="col-xl-3 offset-xl-0 float-xl-right col-sm-10 offset-sm-2 float-left mt16">
                    <a href="mailto:support@webkul.com" style="padding:10px 22px; background-color:#2335D7; font-size:14px; color:#fff"><i class="fa fa-pencil-square-o" style="color:white; margin-right:4px"></i>Write To US</a>
                </div>
            </div>
        </div>
        <div class="mx-auto col-lg-9 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0 p-3">
                <div class="col-sm-2 text-center pr-0">
                    <img src="support-icon.png" alt="support-icon" class="img img-fluid">
                </div>
                <div class="col-sm-10 ">
                    <p class="my-2" style="font-weight:bold; color:#555">Get in touch with our Expert:</p>
                    <b class="text-primary text-break" style="font-size:18px">https://webkul.uvdesk.com/en/customer/create-ticket/</b>
                    <p class="my-2" style="font-weight:normal; font-size:14px; color:#777">Have any technical queries, want extra features, or anything else? Our team is here to answer all your questions. Just Raise A Support Ticket.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
        <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=WEBSITE-MOST-VIEWED-PRODUCTS&url=https://apps.openerp.com/apps/modules/13.0/odoo_trending_products&uid=odoo_trending_products" style="border:0" alt="" />
        <!-- End Piwik -->
    </div>
</section>
