<section class="oe_container" id="wk_header">
    <div class="mt32 mb32">
        <h2 class="text-center" style="color:#000;font-size:calc(1.0rem + 1vw);">
            Odoo Website Warranty Management
        </h2>
        <h5 class="mt8 mb8 text-center" style="font-weight:500; font-size:18px; color:#484848; font-family:'Montserrat', sans-serif">
            <i>Track warranty data and reports for your products in the Odoo backend.</i>
        </h5>
    </div>
    <div class="row mt16 mb16 py-2 m-1" style="font-weight:500; font-size:18px; color:#484848; font-family:'Montserrat', sans-serif">
        <div class="container col-md-6  border-right" style="font-weight:500;line-height: 24px;font-size:16px;color:#484848;font-family:'Montserrat', sans-serif; vertical-align: middle; display: grid;">
            <p class="mb4 mt4 mr8" style="font-size:calc(0.75rem + 0.4vw)">
							The module allows you to include warranty for the products in the Odoo.
							It adds the warranty field in the product in the Odoo.
							The admin can add the duration for which the warranty is valid for a product after purchase.
							<br/>
							The sales order will also show the start and end dates of the warranty for a product.
							Once the delivery is done in Odoo, an automatic mail is sent
							to the customer along with the details and terms of the warranty.
							The customers can also register their product with the Odoo.
							<br/>
							The admin can also set up a reminder mail to be delivered to the customer
							to notify to extend the warranty of the product.
            </p>
        </div>
        <div class="container col-md-6 ">
            <h4 class="ml-md-3 mt-1">Information</h4>
            <div class="mt-2 ml-md-3" style="display:flex">
                <span class="ml-1 mr-2 my-auto"><img src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/icon-user-guide.png" alt="user-guide"></span>
                <div style="font-weight: 600;font-size: 14px;line-height: 10px;" class="mt-2">
                    User Guide
                </div>
            </div>
            <div class="ml-md-3" style="display:flex;">
                <span style="font-size:15px; margin-top:0.2rem">https://webkul.com/blog/odoo-website-warranty-management/</span>
            </div>
        </div>
    </div>
</section>

<section class="container pl-3 pr-3">
	<div class="row">
		<div class="col-12 panel panel-primary" id="wkid0">
			<div class="panel-heading">
				<h3 class="panel-title" style="font-size:calc(0.7rem + 1.0vw)">
					<i class="fa fa-mail-forward"></i> Features:</h3>
			</div>
			<div class="panel-body">
				<ul class="list-unstyled">
					<li>
						<i class="fa fa-check text-primary"></i>
						The admin can manage warranty details of the products directly in Odoo.
					</li>
					<li>
						<i class="fa fa-check text-primary"></i>
						The product form enables adding the duration of warranty provided
						on the product post purchase.
					</li>
					<li>
						<i class="fa fa-check text-primary"></i>
						The warranty details are automatically added in the Order as soon as
						the delivery is confirmed.
					</li>
					<li>
						<i class="fa fa-check text-primary"></i>
						The admin can also check the warranty details in the picking generated for the order.
					</li>
					<li>
						<i class="fa fa-check text-primary"></i>
						The customer receives an automatic mail once the delivery is done.
						The mail contains the details for warranty of the product.
					</li>
					<li>
						<i class="fa fa-check text-primary"></i>
						The customers can also register their product(s) with the Odoo,
						at which point, the warranty registration gets automatically done in Odoo.
					</li>
					<li>
						<i class="fa fa-check text-primary"></i>
						The customers can view and download the warranty details for a product
						through their Odoo website account.
					</li>
					<li>
						<i class="fa fa-check text-primary"></i>
						The admin can set up a automatic reminder mail to be sent to the customer
						days or weeks before the warranty of his/her product expires.
					</li>
					<li>
						<i class="fa fa-check text-primary"></i>
						The customers can renew the product’s warranty from their account.
					</li>
					<li>
						<i class="fa fa-check text-primary"></i>
						Once the warranty is successfully extended, an automatic confirmation mail is sent to the customer.
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="oe_container">
	<ul class="nav nav-tabs justify-content-center pt-2">
		<li class="active">
			<a href="#warranty_management_view_admin">
				<h3 class="panel-title" style="font-size:calc(0.7rem + 1.0vw)">
					<i class="fa fa-user"></i>
					<b>Admin View</b>
				</h3>
			</a>
		</li>
		<li>
			<a href="#warranty_management_view_customer">
				<h3 class="panel-title" style="font-size:calc(0.7rem + 1.0vw)">
					<i class="fa fa-users"></i>
					<b>Customer View</b>
				</h3>
			</a>
		</li>
		<li>
			<a href="#warranty_management_change_log_tab">
				<h3 class="panel-title" style="font-size:calc(0.7rem + 1.0vw)">
					<i class="fa fa-code"></i>
					<b>Change Log</b>
				</h3>
			</a>
		</li>
	</ul>

	<div id="my-tab-content" class="">
		<div class="active pt-2" id="warranty_management_view_admin">
			<h2 style="text-align:center;font-size:calc(1.0rem + 1vw);">
				<i class="fa fa-globe"></i> Admin View</h2>
			<section class="oe_container pl-3 pr-3">
				<div class="row">
					<div class="col-12 panel panel-primary" id="wkid0">
						<div class="panel-heading">
							<h3 class="panel-title" style="font-size:calc(0.7rem + 1.0vw);text-align: center;">
								<b>Product</b>
							</h3>
						</div>
						<div class="panel-body">
							<div class="alert alert-info">
								<i class="fa fa-arrow-circle-o-right"></i>
								<b> Allow warranty for the product</b>
							</div>
							<a href="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM01.png">
								<img class="img-border img-responsive thumbnail" style="width:100%" src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM01.png">
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="oe_container pl-3 pr-3">
					<div class="row">
						<div class="col-12 panel panel-primary" id="wkid0">
							<div class="panel-heading">
								<h3 class="panel-title" style="font-size:calc(0.7rem + 1.0vw);text-align: center;">
									<b>Configuration</b>
								</h3>
							</div>
							<div class="panel-body">
								<div class="alert alert-info">
									<i class="fa fa-arrow-circle-o-right"></i>
									<b>Warranty Expire notification</b>
								</div>
								<a href="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM15.png">
									<img class="img-border img-responsive thumbnail" style="width:100%" src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM15.png">
								</a>
							</div>
						</div>
					</div>
				</section>
			<section class="oe_container pl-3 pr-3">
				<div class="row">
					<div class="col-12 panel panel-primary" id="wkid0">
						<div class="panel-heading">
							<h3 class="panel-title" style="font-size:calc(0.7rem + 1.0vw);text-align:center;">
								<b>Warranty</b>
							</h3>
						</div>
						<div class="panel-body">
							<div class="alert alert-info">
								<i class="fa fa-arrow-circle-o-right"></i>
								<b>Register Warranty for product </b>
							</div>
							<a href="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM02.png">
								<img class="img-border img-responsive thumbnail" style="width:100%" src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM02.png">
							</a>
							<a href="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM03.png">
								<img class="img-border img-responsive thumbnail" style="width:100%" src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM03.png">
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="oe_container pl-3 pr-3">
				<div class="row">
					<div class="panel panel-primary" id="wkid0">
						<div class="panel-heading">
							<h3 class="panel-title" style="font-size:calc(0.7rem + 1.0vw);text-align:center;">
								<b>Order</b>
							</h3>
						</div>
						<div class="panel-body">
							<div class="alert alert-info">
								<i class="fa fa-arrow-circle-o-right"></i>
								<b> Separate warranty will generate for individual product quantities. </b>
							</div>
							<a href="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM04.png">
								<img class="img-border img-responsive thumbnail" style="width:100%" src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM04.png">
							</a>
							<a href="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM05.png">
								<img class="img-border img-responsive thumbnail" style="width:100%" src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM05.png">
							</a>
						</div>
						<div class="panel-body">
							<div class="alert alert-info">
								<i class="fa fa-arrow-circle-o-right"></i>
								<b>Warranty lines also be linked with picking </b>
							</div>
							<a href="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM06.png">
								<img class="img-border img-responsive thumbnail" style="width:100%" src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM06.png">
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="oe_container pl-3 pr-3">
					<div class="row">
						<div class="col-12 panel panel-primary" id="wkid0">
							<div class="panel-heading">
								<h3 class="panel-title" style="font-size:calc(0.7rem + 1.0vw);text-align:center;">
									<b>Warranty Extend</b>
								</h3>
							</div>
							<div class="panel-body">
								<div class="alert alert-info">
									<i class="fa fa-arrow-circle-o-right"></i>
									<b>
										If product is allowed for warranty renew, admin can check and verfiy the
										customer renewal request from order line descriptions.
									</b>
								</div>
								<a href="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM07.png">
									<img class="img-border img-responsive thumbnail" style="width:100%" src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM07.png">
								</a>
							</div>
							<div class="panel-body">
								<div class="alert alert-info">
									<i class="fa fa-arrow-circle-o-right"></i>
									<b>All previous expired warranty can be access from warranty history</b>
								</div>
								<a href="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM08.png">
									<img class="img-border img-responsive thumbnail" style="width:100%" src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM08.png">
								</a>
							</div>
						</div>
					</div>
				</section>
		</div>
		<div class="tab-pane pt-2" id="warranty_management_view_customer">
			<h2 style='text-align: center;font-size:calc(1.0rem + 1vw);'>
				<i class="fa fa-users"></i>
				<b>Customer View</b>
			</h2>
			<section class="oe_container pl-3 pr-3">
				<div class="row">
					<div class="col-12 panel panel-primary" id="wkid0">
						<div class="panel-heading">
							<h3 class="panel-title" style="font-size:calc(0.7rem + 1.0vw);text-align:center;">
								<b>Order</b>
							</h3>
						</div>
						<div class="panel-body">
							<div class="alert alert-info">
								<i class="fa fa-arrow-circle-o-right"></i>
								<b> Warranty will linked with order form. </b>
							</div>
							<a href="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM09.png">
								<img class="img-border img-responsive thumbnail" style="width:100%" src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM09.png">
							</a>
						</div>
						<div class="panel-body">
								<div class="alert alert-info">
									<i class="fa fa-arrow-circle-o-right"></i>
									<b> Customer can easily register the product and download the warranty. </b>
								</div>
								<a href="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM10.png">
									<img class="img-border img-responsive thumbnail" style="width:100%" src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM10.png">
								</a>
							</div>
					</div>
				</div>
			</section>
			<section class="oe_container pl-3 pr-3">
				<div class="row">
					<div class="col-12 panel panel-primary" id="wkid0">
						<div class="panel-heading">
							<h3 class="panel-title" style="font-size:calc(0.7rem + 1.0vw);text-align:center;">
								<b>Register directly from email</b>
							</h3>
						</div>
						<div class="panel-body">
							<div class="alert alert-info">
								<i class="fa fa-arrow-circle-o-right"></i>
								<b> Customer will also get a register link by following the
									link he/she can register the product on the fly </b>
							</div>
							<a href="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM11.png">
								<img class="img-border img-responsive thumbnail" style="width:100%" src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM11.png">
							</a>
							<a href="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM12.png">
								<img class="img-border img-responsive thumbnail" style="width:100%" src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM12.png">
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="oe_container pl-3 pr-3">
					<div class="row">
						<div class="col-12 panel panel-primary" id="wkid0">
							<div class="panel-heading">
								<h3 class="panel-title" style="font-size:calc(0.7rem + 1.0vw);text-align:center;">
									<b>Warranty Extend</b>
								</h3>
							</div>
							<div class="panel-body">
								<div class="alert alert-info">
									<i class="fa fa-arrow-circle-o-right"></i>
									<b>
										If product is allowed for warranty renew, customer can renew
										their warranty.
									</b>
								</div>
								<a href="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM13.png">
									<img class="img-border img-responsive thumbnail" style="width:100%" src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM13.png">
								</a>
								<a href="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM14.png">
									<img class="img-border img-responsive thumbnail" style="width:100%" src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/screenshot/WWM14.png">
								</a>
							</div>
						</div>
					</div>
				</section>
		</div>
		<div class="tab-pane pt-2" id="warranty_management_change_log_tab">
			<h2 style='text-align: center;'>
				<i class="fa fa-code"></i>
				<b>Change Log</b>
			</h2>
			<section class="oe_container pl-3 pr-3">
				<div class="row">
					<div class="col-12 panel panel-primary" id="wkid0">
						<div class="panel-heading">
							<h3 class="panel-title" style="font-size:calc(0.7rem + 1.0vw);">
								<b>Module Change Log</b>
							</h3>
						</div>
						<div class="panel-body">
							<p>
								Notations description used in this document.
							</p>
							<ul class="list-unstyled ">
								<li>
									<i class="fa fa-plus text-success"></i> [Features Added]</li>
								<li>
									<i class="fa fa-minus text-danger"></i> [Features Removed]</li>
								<li>
									<i class="fa fa-bug text-warning"></i> [Bug Fixed]</li>
							</ul>
						</div>
						<div class="panel-body">
							<div class="alert alert-info">
								<i class="fa fa-plus-circle"></i>
								<b> App Released version 1.0.0</b>
								<b style="float:right"> Released In Dec, 2018 </b>
							</div>
							<div class="oe_span12" style="max-width:100%">
								<p>
									<i class="fa fa-plus text-success"></i>
									The admin can manage warranty details of the products directly in Odoo.
								</p>
								<p>
									<i class="fa fa-plus text-success"></i>
									The product form enables adding the duration of warranty provided
									on the product post purchase.
								</p>
								<p>
									<i class="fa fa-plus text-success"></i>
									The admin can also check the warranty details in
									the picking generated for the order.
								</p>
								<p>
									<i class="fa fa-plus text-success"></i>
									The warranty details are automatically added in the Order as
									soon as the delivery is confirmed.
								</p>
								<p>
									<i class="fa fa-plus text-success"></i>
									The customer receives an automatic mail once the delivery is done.
									The mail contains the details for warranty of the product.
								</p>
								<p>
									<i class="fa fa-plus text-success"></i>
									The customers can also register their product(s) with the Odoo, at which point,
									the warranty registration gets automatically done in Odoo point.
								</p>
								<p>
									<i class="fa fa-plus text-success"></i>
									The customers can view and download the warranty details for a product
									throug their Odoo website account.
								</p>
								<p>
									<i class="fa fa-plus text-success"></i>
									The admin can set up a automatic reminder mail to be sent to the customer
									days or weeks before the warranty of his/her product expires.
								</p>
								<p>
									<i class="fa fa-plus text-success"></i>
									The customers can renew the product’s warranty from their account.
								</p>
								<p>
									<i class="fa fa-plus text-success"></i>
									Once the warranty is successfully extended, an automatic confirmation mail
									is sent to the customer.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>

<section class="mb-5" id="webkul_support">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center" style="font-size:calc(0.7rem + 1.0vw)">Help and Support</h3>
            <p class="mb-2 text-center" style="font-size:calc(0.75rem + 0.4vw)">Get Immediate support for any of your query</p>
        </div>
        <div class="col-12">
            <p class="text-center px-5" style="font-size:calc(0.75rem + 0.4vw)">You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.</p>
        </div>
        <div class="mx-auto col-lg-9 mb-4 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0">
                <div class="col-xl-2 col-lg-2 col-md-2 sol-sm-2 text-center">
                    <img src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/mail.png?77fdd07" alt="mail" class="img img-fluid">
                </div>
                <div class="col-xl-7 col-lg-10 col-md-10 col-sm-10 pl-0 pr-2">
                    <p class="my-2" style="font-weight:bold;color:#555555;font-size:calc(0.75rem + 0.4vw);">Write a mail to us:</p>
                    <a style="font-size:calc(0.7rem + 1.0vw)" href="mailto:support@webkul.com">support@webkul.com</a>
                    <p class="my-2" style="font-weight: normal;font-size:calc(0.75rem + 0.4vw);color:#777777;">Any queries or want any extra features? Just drop a mail to our support.</p>
                </div>
                <div class="col-xl-3 col-lg-4 text-center">
                    <a href="mailto:support@webkul.com" style="padding:10px 22px;background-color:#2335D7;font-size:14px;color:#ffffff;"><i class="fa fa-pencil-square-o" style="color:white; margin-right:4px"></i>Write To US</a>
                </div>
            </div>
        </div>
        <div class="mx-auto col-lg-9 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0">
                <div class="col-xl-2 col-lg-2 col-md-2 text-center">
                    <img src="//apps.odoocdn.com/apps/assets/13.0/warranty_management/support-icon.png?77fdd07" alt="support-icon" class="img img-fluid">
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 pl-0">
                    <p class="my-2" style="font-weight:bold;color:#555555;font-size:calc(0.75rem + 0.4vw);">Get in touch with our Expert:</p>
                    <a class="text-break" style="font-size:calc(0.7rem + 1.0vw)" href="">https://webkul.uvdesk.com/en/customer/create-ticket/</a>
                    <p class="my-2" style="font-weight:normal;font-size:calc(0.75rem + 0.4vw);color:#777777;">Any technical queries, want extra features, or anything else, our team is ready to answer all your questions, just raise a support ticket.</p>
                </div>
            </div>
        </div>
    </div>
</section>
