<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;margin:0 auto;">Website Gift Cards</h2>
        <h3 class="oe_slogan" style="margin:0 auto;">Website Gift Cards module allows to sell gift cards on ecommerce. It also allows to sell multiple variants of the gift cards (based on price). Secret codes are created on sale of Gift Cards and those secret codes are provided to the customers via email or physically. Multiple secret codes are created for multiple quantity purchase of a gift card.</h3>
    </div>

<section class="container">
  <div class="row oe_spaced">
    <div class="col-md-12">
        <div class="alert alert-info" style="font-weight: 300; font-size: 20px;box-shadow: 0px 0px 10px 0px grey;">
		  <center><div style="box-shadow:8px 7px 15px #888888;color : #98437F"><i class="fa fa-hand-o-down"></i><b> Salient features</b></div></center>
            <ul class="list-unstyled" style="padding:20px; color:black">
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				 Allows creation and sale of Gift Card products.
			  </li>
              <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Allows creation and sale of Gift Card variants(based on price).
			  </li>
               <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Secret Codes are generated for each purchase of the Gift Card. 
			  </li>
               <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Separate codes are created for multiple quantity purchase of a Gift Card.
			  </li>
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Both Physical and Soft Copy Gift Cards can be created. 
			  </li>
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Secret codes can be shared via email or physically. 
			  </li>
			  <!--<li>
				<i class="fa fa-check-square-o text-primary"></i>
				Gift Card coupons can be redeemed partially. 
			  </li>-->
               <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Secret Codes can be printed for physical delivery. 
			  </li>
              <li>
				<i class="fa fa-check-square-o text-primary"></i>
				User can specify custom details on purchase of a Gift Card.
			  </li>
              <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Proper validated email for soft copy secret code sharing .
			  </li>
              <li>
			    <i class="fa fa-check-square-o text-primary"></i>
				An easy to use and easy to handle interface.
			  </li>
              
			</ul>
		</div>
      		
    </div>
  </div>
</section>


<section class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#odoo_gift_card_setup" data-toggle="tab"><b>SetUp</b></a></li>
        <li ><a href="#odoo_gift_card_view" data-toggle="tab"><b>View</b></a></li>
        <li ><a href="#odoo_gift_card_change_log" data-toggle="tab"><b>Change Log</b></a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">     
        <div class="tab-pane active" id="odoo_gift_card_setup"> 
            <section class="container  oe_dark">
                <div class="row">    
                    <div class='col-md-12'>
                        <div class="panel panel-info" >
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-pencil-square-o "/></i> <b>Congfigure and Create Gift Cards</b></h3>
                            </div>
                            <div class="panel-body">
                                      
                                <section class="container">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Global Configuration </b><center></div>
                                        <p><a href="Img1.png" target="new"> <img  class="oe_picture oe_screenshot" src="Img1.png" style="margin:0 auto;"/></a></p>
                                        <p><a href="Img2.png" target="new"><img  class="oe_picture oe_screenshot" src="Img2.png" style="margin:0 auto;"/> </a></p>
                                        <p>Configure the translatable messages to be displayed on the Website.</p>
                                </section>
                                <section class="container">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Create Gift Cards</b><center></div>
                                        <p><a href="im3.png" target="new"><img  class="oe_picture oe_screenshot" src="im3.png" style="margin:0 auto;"/> </a></p>
                                        <p>Gift Cards can be created simply as normal products. For creating a Gift Card set some values like validity, Partial Redemption option, email template(in case of soft copy) etc.</p>
                                </section>
                                <section class="container">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Gift Card Variants</b><center></div>
                                        <p> <a href="Img4.png" target="new"> <img  class="oe_picture oe_screenshot" src="Img4.png" style="margin:0 auto;"/></a></p>
                                            <p>Gift Card variants are created as normal odoo variants.
                                            Gift Card variants are created by the attribute<b> Price </b>and <b>Values</b> of <b>Price</b> attribute should be equal to the price of the variants.
                                            The total price of the variant i.e <i>template price and variant price extra</i> should be equal to the <b>Value</b> of the <b>Price</b> attribute in that variant.</p>
                                </section>
                                <section class="container">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Created Gift Cards</b><center></div>
                                        <p><a href="IMg5.png" target="new"> <img  class="oe_picture oe_screenshot" src="IMg5.png" style="margin:0 auto;"/></a></p>
                                </section>
                                <section class="container">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b> Others</b><center></div>
                                   <div class="row oe_spaced d-flex w-100">
                                        <div class="col-md-6">
                                           <center> <p> Editable Happy Birthday Email Template </p></center>
                                       <p><a href="Img6.png" target="new"> <img  class="oe_picture oe_screenshot" src="Img6.png" style="margin:0 auto;"/></a></p>
                                    </div>
                                         <div class="col-md-6">
                                            <center>  <p> Editable Merry Christmas Email Template </p></center> 
                                       <p><a href="Img7.png" target="new"> <img  class="oe_picture oe_screenshot" src="Img7.png" style="margin:0 auto;"/></a></p>
                                    </div>
                                   </div>
                                   <div class="row oe_spaced d-flex w-100">
                                    <div class="col-md-6">
                                        <center>  <p> Editable Happy New Year Email Template </p></center> 
                                       <p><a href="Img8.png" target="new"> <img  class="oe_picture oe_screenshot" src="Img8.png" style="margin:0 auto;"/></a></p>
                                    </div>
                                        <div class="col-md-6">
                                        <center> <p>Dependency </p></center>
                                        
                                        <p><a href="https://www.odoo.com/apps/modules/11.0/website_voucher/" target="new"> <img  class="oe_picture oe_screenshot" src="voucher.png" style="margin:0 auto;"/></a></p>
                                        
                                        </div>
                                    </div>
                                    <center> <span style="font-size:16px">This module is dependent on Website Vouchers and Coupons, click on the above image to see its features.<span class="fa fa-arrow-up"></span></center> 
                                    
                                </section>
                             </div>
                        </div>
                   </div>
                </div>
            </section>
        </div>

        <div class="tab-pane" id="odoo_gift_card_view">
              <section class="container  oe_dark">
                <div class="row">    
                    <div class='col-md-12'>
                          <div class="panel panel-info" >
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-pencil-square-o "/></i> <b>Views and Application</b></h3>
                            </div>
                            <div class="panel-body">
                                <section class="container">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>View of Gift Cards on website </b><center></div>
                                        <p><a href="Img9.png" target="new"> <img  class="oe_picture oe_screenshot" src="Img9.png" style="margin:0 auto;"/></a></p>
                                        
                                </section>
                                <section class="container">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Gift Card Product details </b><center></div>
                                        <p><a href="IMG10.png" target="new"> <img  class="oe_picture oe_screenshot" src="IMG10.png" style="margin:0 auto;"/></a></p>
                                        
                                </section>
                                <section class="container">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Cart View</b><center></div>
                                        <p> <a href="Img11.png" target="new"> <img  class="oe_picture oe_screenshot" src="Img11.png" style="margin:0 auto;"/></a></p>
                                           
                                </section>
                                <section class="container">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Additional information for Gift Card</b><center></div>
                                        <p><a href="Img12.png" target="new"> <img  class="oe_picture oe_screenshot" src="Img12.png" style="margin:0 auto;"/></a></p>
                                </section>
                                 <section class="container">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>e-Gift Cards</b><center></div>
                                        <p><a href="Img14.png" target="new"> <img  class="oe_picture oe_screenshot" src="Img14.png" style="margin:0 auto;"/></a></p>
                                </section>
                                 <section class="container">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Created Vouchers</b><center></div>
                                        <p><a href="Img15.png" target="new"> <img  class="oe_picture oe_screenshot" src="Img15.png" style="margin:0 auto;"/></a></p>
                                        <p><a href="Img16.png" target="new"> <img  class="oe_picture oe_screenshot" src="Img16.png" style="margin:0 auto;"/></a></p>
                                </section>
                                <section class="container">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Physical Gift Card Print</b><center></div>
                                    <center>
                                        <p><a href="Img17.png" target="new"> <img  class="oe_picture oe_screenshot" src="Img17.png" style="margin:0 auto;"/></a></p>
                                    </center>
                                </section>
                                 
                             </div>
                        </div>
                   </div>
                </div>
            </section>  
        </div>

        <div class="tab-pane" id="odoo_gift_card_change_log">
              <section class="container  oe_dark">
                <div class="row">    
                    <div class='col-md-12'>
                        <div class="panel panel-info" >
                            <div class="panel-heading">
                                <h3 class="panel-title"></i> <b>Module Change Log</b></h3>
                            </div>
                            <section class="container"> 
                                  <div class="panel-body">
                                <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-down" ></i>             <b>Module Version 1.1.0</b></div>
                                    <div class="col-md-12">
                                        <p><i class="fa fa-plus text-success"></i>Buttons added for direct coupon tracking in Sale Order.</p>
                                        <p><i class="fa fa-plus text-success"></i>e-Gift Card Orders view added under both Webiste and Sale menu.</p>
                                </div>
                                  </div>
                                </section>
                              <section class="container"> 
                                  <div class="panel-body">
                                <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-down" ></i>             <b>Module Version 1.0.0</b></div>
                                    <div class="col-md-12">
                                    <p><i class="fa fa-plus text-success"></i> Creation and sale of Gift Card products.</p>
                                    <p><i class="fa fa-plus text-success"></i> Creation and sale of Gift Card variants(based on price).</p>
                                    <p><i class="fa fa-plus text-success"></i> Secret Codes are generated for each purchase of the Gift Card. </p>
                                    <p><i class="fa fa-plus text-success"></i> Separate codes are created for multiple quantity purchase of a Gift Card.</p>
                                    <p><i class="fa fa-plus text-success"></i> Both Physical and Soft Copy Gift Cards can be created. </p>
                                    <p><i class="fa fa-plus text-success"></i> Gift Card coupons can be redeemed partially.</p>
                                    <p><i class="fa fa-plus text-success"></i> Secret Codes can be printed for physical delivery. </p>
                                    <p><i class="fa fa-plus text-success"></i> User can specify custom details on purchase of a Gift Card.</p>
                                    <p><i class="fa fa-plus text-success"></i>This module is dependent on another module Website Vouchers and Coupons whose features can be used independently.</p>
                                    <p><i class="fa fa-plus text-success"></i>Customizable and translatable messages.</p>
                                </div>
                                  </div>
                                </section>
                             </div>
                        </div>
                   </div>
                </div>
    </div>
</section>



<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="oe_slogan">Complimentary Support</h2>
            <p style="text-align: center;">You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type
                of issue related to this module.</p>
        </div>
       
    </div>
    <div class="row oe_spaced">
        <div class="col-md-12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced" style="margin:0 auto;">
            <img src="icon-help.png">
            <span>
            <a onmouseover="this.style.color='#AC1EE0'" onmouseout="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Help</a>
        </span>
            <img src="icon-support.png">
            <span>
                <a onmouseover="this.style.color='#AC1EE0'" onmouseout="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Support</a>
            </span>
            <img src="icon-features.png">
            <span>
                <a onmouseover="this.style.color='#AC1EE0'" onmouseout="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Request new Features</a>
            </span>
        </div>
    </div>
</section>
<section class="container">
    <div class="col-md-12">
        <!-- Piwik Image Tracker-->
        <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=ODOO-MAINTENANCE_MODE&url=https://apps.openerp.com/apps/modules/10.0/odoo_maintenance_mode&uid=odoo_maintenance_mode"
            style="border:0" alt="" />
        <!-- End Piwik -->
    </div>
</section>
