<section class="oe_container oe_dark lead mb-2">
    <div class="oe_row">    
        <div class='oe_span12'>
            <div class="panel " >
                <div class="panel-heading">
                    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-arrow-circle-o-right"></i><b> Website Vouchers Vouchers </b></div>
                     <p>
                       A promotional tool called &#8220;vouchers&#8221; are essentially provided by the sellers to increase sales, to become competitive, to re-activate old customers. Those customers that have been lured away by your competitors will start buying from you again when you give them a good reason to do so. 
                    </p>
                    <p>
                       They feel special and privileged to get voucher codes for discounts to be applied on the cart. Voucher allows you to generate codes, which can be used to provide flat or percentage based discount on a customers order. It will be applicable on the store front checkout. Additional filtering can be applied so that customer uses voucher for single time use spends certain amount for a specific time period to access the voucher code.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark lead mb-2">
    <div class="oe_row">    
        <div class='oe_span12'>
            <div class="panel " >
                <div class="panel-heading">
                    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-arrow-circle-o-right"></i><b> Salient Features </b></div>
                    <ul class="list-unstyled ">
                        <li><i class="fa fa-check text-primary"></i> Create Vouchers/Coupons for discount on special occasions for grabbing more customers.</li>
                        <li><i class="fa fa-check text-primary"></i>Create vouchers in simple steps and set some default configurations for saving time.</li>
                        <li><i class="fa fa-check text-primary"></i>Define certain rules for the voucher applicability.</li>
                        <li><i class="fa fa-check text-primary"></i>Same voucher can be used for <b>Website, Odoo Core or POS </b>.</li>
                        <li><i class="fa fa-check text-primary"></i> Create vouchers for <b> Special Customers or for All customers.</b></li>
                        <li><i class="fa fa-check text-primary"></i> Create vouchers for <b> Specific Products or All Products.</b></li>
                        <li><i class="fa fa-check text-primary"></i>Display vouchers to customers in Website.</li>
                        <li><i class="fa fa-check text-primary"></i>Allow your customers to partially redeem  vouchers and set maximum partial redeem limit.</li>
                         <li><i class="fa fa-check text-primary"></i> A unique code is generated for every voucher.</li>
                        <li><i class="fa fa-check text-primary"></i> Generate Voucher code automatically or manually.</li>
                        <li><i class="fa fa-check text-primary"></i>Notify customers via email for which you are creating vouchers.</li>
                        <li><i class="fa fa-check text-primary"></i>Maintain the history of vouchers used like order in which and who used etc</li>
                        <li><i class="fa fa-check text-primary"></i> Maintain the Credit and Debit of Vouchers using history.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container mb-2">
    <center>
    <ul class="nav nav-tabs ">
        <li class="active"><a href="#odoo_website_coupons_example_2" data-toggle="tab"><b>Application And Views</b></a></li>
        <li ><a href="#odoo_website_coupons_example_1" data-toggle="tab"><b>Setup & Configure</b></a></li>
    </ul>
    </center>
    <div id="my-tab-content" class="tab-content">     
        <div class="tab-pane active" id="odoo_website_coupons_example_2"> 

            <section class="oe_container  oe_dark">
                <div class="oe_row">    
                    <div class='oe_span12'>
                        <div class="panel panel-info" >
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-pencil-square-o "/></i> <b>Vouchers in Website and Odoo Core</b></h3>
                            </div>
                            <div class="panel-body">
                                <section class="oe_container  lead">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Enable/Disable Vouchers in Website View</b></center></div>
                                        <p><img style="max-width:100%" class="img-border img-responsive thumbnail" src="1.png" alt="1"></p>
                                </section>        
                                <section class="oe_container  lead">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Application and validation of Voucher aganist certain constraints</b><center></div>
                                        <p><img style="max-width:100%" class="img-border img-responsive thumbnail" src="2.png" alt="2"></p>
                                </section>
                                <section class="oe_container  lead">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Click on the link to see vouchers available</b></center></div>
                                        <p><img style="max-width:100%" class="img-border img-responsive thumbnail" src="3.png" alt="3"></p>
                                </section>
                                <section class="oe_container  lead">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Click on the link to see vouchers available in My Account</b></center></div>
                                        <p><img style="max-width:100%" class="img-border img-responsive thumbnail" src="4.png" alt="4"></p>
                                </section>
                                <section class="oe_container  lead">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>List of the available vouchers</b></center></div>
                                        <p><img style="max-width:100%" class="img-border img-responsive thumbnail" src="5.png" alt="5"></p>
                                </section>
                                <section class="oe_container  lead">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Voucher Applied after proper validation</b></center></div>
                                        <p><img style="max-width:100%" class="img-border img-responsive thumbnail" src="6.png" alt="6"></p>
                                </section>
                                <section class="oe_container  lead">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Voucher in payment page</b></center></div>
                                        <p><img style="max-width:100%" class="img-border img-responsive thumbnail" src="7.png" alt="7"></p>
                                </section>
                                <section class="oe_container  lead">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Voucher in Odoo core</b></center></div>
                                        <p><img style="max-width:100%" class="img-border img-responsive thumbnail" src="8.png" alt="8"></p>
                                </section>
                                <section class="oe_container  lead">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Apply Voucher code.</b></center></div>
                                        <p><img style="max-width:100%" class="img-border img-responsive thumbnail" src="8.png" alt="9"></p>
                                </section>
                                <section class="oe_container  lead">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Validated voucher code applied</b></center></div>
                                        <p><img style="max-width:100%" class="img-border img-responsive thumbnail" src="10.png" alt="10"></p>
                                </section>
                                <section class="oe_container  lead">  
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>After confirming Sale Order</b></center></div>
                                        <p><img style="max-width:100%" class="img-border img-responsive thumbnail" src="11.png" alt="11"></p>
                                </section>
                             </div>
                        </div>
                   </div>
                </div>
            </section>
        </div>

        <div class="tab-pane" id="odoo_website_coupons_example_1">
              <section class="oe_container oe_dark">
                <div class="oe_row">    
                    <div class='oe_span12'>
                        <div class="panel panel-info" >
                            <div class="panel-heading ">
                                <h3 class="panel-title"><i class="fa fa-pencil-square-o "/></i><b>Configuring and creating Odoo Vouchers </b></h3>
                            </div>
                            <div class="panel-body">
                                 <section class="oe_container lead"> 
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i><b>Default configuration of vouchers</b></center>
                                    </div>
                                    <div>
                                        <p class="bg-primary" style="padding:8px;font-weight: 300; font-size: 20px;" ><i class="fa fa-plus-circle"></i> <b>Some key points</b> 
                                        </p>                  
                                            <ul  class="list-unstyled" style="font-style: italic;font-family:serif;color:black">
                                                <li><i class="fa fa-check-circle-o"/></i>In order to save time for creating vouchers set some default configurations.</li>           
                                                <li><i class="fa fa-check-circle-o"/></i>The default values will be used while creating the vouchers.</li>
                                                <li><i class="fa fa-check-circle-o"/></i>Vouchers can not be created below and above the minimum and maximum value respectively.</li>
                                                <li><i class="fa fa-check-circle-o"/></i>Vouchers can be created for some <b>Specific customer or for All customers</b></li>
                                                <li><i class="fa fa-check-circle-o"/></i>Same voucher can be used for the <b>Ecommerce & Odoo Core or POS or For Both.</b></li>
                                                <li><i class="fa fa-check-circle-o"/></i>Depending upon the customer type selected we can partially use the voucher and also specify the maximum limit of the partial use.</li>
                                                <li><i class="fa fa-check-circle-o"/></i>Vouchers can be created for <b>All products or for some specific products.</b></li>
                                                <li><i class="fa fa-check-circle-o"/></i>Vouchers can be applied for some minimum cart value only.</li>
                                                <li><i class="fa fa-check-circle-o"/></i>Value (-1) represents unlimited wherever used.</li>
                                            </ul>
                                    </div> 
                                        <p><img style="max-width:100%" class="img-border img-responsive thumbnail" src="12.png" alt="12"></p>

                                </section>
                                 <section class="oe_container  lead"> 
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i><b>Creating Vouchers</b></center></div>
                                     <div>
                                        <p class="bg-primary" style="padding:8px;font-weight: 300; font-size: 20px;" ><i class="fa fa-plus-circle"></i> <b>Some key points</b> 
                                        </p>                  
                                            <ul  class="list-unstyled " style="font-style: italic;font-family:serif;color:black">
                                            <li><i class="fa fa-check-circle-o"/></i>Create vouchers/coupons in easy steps. Fetch most information from default configuration.</li>             
                                            <li><i class="fa fa-check-circle-o"/></i>Code of voucher is<b> auto generated(if left blank) and manual.</b></li>
                                            <li><i class="fa fa-check-circle-o"/></i>Validity can be applied by using days and expiry date.</li>
                                            <li> <i class="fa fa-check-circle-o"/></i>Vouchers created are applicable only after the Applicable date.</li>
                                            <li><i class="fa fa-check-circle-o"/></i>Vouchers can be created for some <b>Specific customer or for All customers</b></li>
                                            <li><i class="fa fa-check-circle-o"/></i>Same voucher can be used for the <b>Ecommerce & Odoo Core or POS or For Both.</b></li>
                                            <li><i class="fa fa-check-circle-o"/></i>Creating vouchers that could be applicable to <b> Specific Products or All Products.</b></li>
                                            <li><i class="fa fa-check-circle-o"/></i>Depending upon the customer type selected we can partially use the voucher, and also specify the maximum limit of the partial use.</li>
                                            <li><i class="fa fa-check-circle-o"/></i>Vouchers can be also applied based on the amount in your Shopping Cart or POS order dashboard. If the <b>order is less than a particular amount then voucher can not be applied.</b></li>
                                            <li><i class="fa fa-check-circle-o"/></i>Notify your customers via email for which you are creating vouchers/coupons.</b></li>
                                            
                                            </ul>
                                    </div>
                                        <p><img style="max-width:100%" class="img-border img-responsive thumbnail" src="13.png" alt="13"></p>
                                        <p><img style="max-width:100%" class="img-border img-responsive thumbnail" src="14.png" alt="14"></p>
                                        <p><img style="max-width:100%"  class="img-border img-responsive thumbnail" src="15.png" alt="15"></p>
                                        <p><img style="max-width:100%" class="img-border img-responsive thumbnail" src="16.png" alt="16"></p>
                                    
                                </section>
                                <section class="oe_container  lead"> 
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-right" ></i><b>History and Reciept view</b></center></div>
                                    <div>
                                        <p class="bg-primary" style="padding:8px;font-weight: 300; font-size: 20px;" ><i class="fa fa-plus-circle"></i> <b>Some key points</b> 
                                        </p>                  
                                            <ul class="list-unstyled" style="font-style: italic;font-family:serif;color:black">
                                                <li><i class="fa fa-check-circle-o"/></i>Keep the record of the vouchers used with order number, customer etc.</li>   
                                                <li><i class="fa fa-check-circle-o"/></i>Print also the vouchers you are creating.</li>
                                            </ul>
                                    </div>
                                        <p><img style="max-width:100%"  class="img-border img-responsive thumbnail" src="17.png" alt="17"></p>
                                        <p><img style="max-width:100%"  class="img-border img-responsive thumbnail" src="18.png" alt="18"></p>
                                       <center><p><img style="max-width:100%" class="img-border img-responsive thumbnail" src="19.png" alt="19"></p></center>
                                </section>
                           </div>              
                       </div>
                   </div>
                </div>
            </section>  
        </div>
        </div>
    
</section>


<section class="mb-2" id="webkul_support">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Help and Support</h3>
            <p class="mb-2 text-center">Get Immediate support for any of your query</p>
        </div>
        <div class="col-12">
            <p class="text-center px-5">You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.</p>
        </div>
        <div class="mx-auto col-lg-9 mb-4 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0"> 
                <div class="col-xl-2 col-lg-2 col-md-2 sol-sm-2 text-center">
                    <img src="booking-commerce.svg" alt="mail" class="img img-fluid">
                </div>
                <div class="col-xl-7 col-lg-10 col-md-10 col-sm-10 pl-0 pr-2">
                    <p class="my-2" style="font-weight:bold;color:#555555;">Write a mail to us:</p>
                    <a style="font-size:18px;" href="mailto:support@webkul.com">support@webkul.com</a>
                    <p class="my-2" style="font-weight: normal;font-size: 14px;color:#777777;">Any queries or want any extra features? Just drop a mail to our support.</p>
                </div>
                <div class="col-xl-3 col-lg-4 text-center">
                    <a href="mailto:support@webkul.com" style="padding:10px 22px;background-color:#2335D7;font-size:14px;color:#ffffff;"><i class="fa fa-pencil-square-o" style="color:white; margin-right:4px"></i>Write To US</a>
                </div>
            </div>
        </div>
        <div class="mx-auto col-lg-9 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0"> 
                <div class="col-xl-2 col-lg-2 col-md-2 text-center">
                    <img src="uvdesk.svg" alt="support-icon" class="img img-fluid">
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 pl-0">
                    <p class="my-2" style="font-weight:bold;color:#555555;">Get in touch with our Expert:</p>
                    <a class="text-break" style="font-size:18px;" href="">https://webkul.uvdesk.com/en/customer/create-ticket/</a>
                    <p class="my-2" style="font-weight:normal;font-size:14px;color:#777777;">Any technical queries, want extra features, or anything else, our team is ready to answer all your questions, just raise a support ticket.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=WEBSITE-COUPONS-&-VOUCHERS&url=https://apps.openerp.com/apps/modules/12.0/website_voucher&uid=website_voucher" style="border:0" alt="" />
<!-- End Piwik -->
    </div>
</section>
	