<!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- License URL : https://store.webkul.com/license.html/ -->

<section class="oe_container  lead">
    <section class="oe_container  lead">
        <div class="alert alert-warning"><i class="fa fa-pencil-square-o"></i>
            <b>Note: </b>This module is an addon for
            <a href="https://www.odoo.com/apps/modules/13.0/wk_appointment/" target="new">
            <b style="color: rebeccapurple;">
            Appointment Management System
            </b>
            </a>
            and
            <a href="https://www.odoo.com/apps/modules/13.0/sms_notification/" target="new">
            <b style="color: rebeccapurple;">
            SMS Notification
            </b>
            </a>
            module. The price appearing here is inclusive of all the <b>modules</b> (addon + dependent modules) cost.
            In case, you are already owning any of the dependent modules then its respective cost will be deducted
            from the total cost mentioned above.
        </div>
    <h1><font><p class="text-center">
    <b>Appointment SMS Notification Management</b><br></p></font></h1>
         <h3><font><p class="text-info text-center">
                This module provides facility to send notifications to customer using SMS.
                It allows you to send SMS notification to your users for appointment reminder,
                on appointment creation and status update.
        </p></font></h3>

        <div class="row">
            <div class=''>
                <div class="panel panel-primary" id="wkid0">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-mail-forward "></i> <b>Features</b></h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check-circle-o text-primary"/> Send Notification by SMS to customer on Appointment Creation.</li>
                            <li><i class="fa fa-check-circle-o text-primary"/> Send Notification by SMS to customer whenever the status of appointment changes.</li>
                            <li><i class="fa fa-check-circle-o text-primary"/> Send Notification by SMS to customer as a reminder before the appointment.</li>
                            <li><i class="fa fa-check-circle-o text-primary"/> Admin can configure whether to send SMS on appointment creation or not.</li>
                            <li><i class="fa fa-check-circle-o text-primary"/> Admin can configure whether to send SMS on appointment status update or not.</li>
                            <li><i class="fa fa-check-circle-o text-primary"/> Admin can configure whether to send SMS reminder before the appointment or not.</li>
                            <li><i class="fa fa-check-circle-o text-primary"/> Admin can also configure appointment wise that whether to send SMS reminder before the appointment or not.</li>
                            <li><i class="fa fa-check-circle-o text-primary"/> Admin can set the time in days or hours before which reminder will be sent to the customer. </li>
                            <li><i class="fa fa-check-circle-o text-primary"/> Admin can configure and update the SMS template according to the need. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="oe_container  lead">
        <div class="">
            <div class="panel" id="wkid3">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-desktop "></i><b> Configuration </b></h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;" ><i class="fa fa-arrow-circle-o-right"></i>
                        <b> Admin can configure SMS Notification Settings for customer. </b>
                    </div>
                    <p><a href="1.png"><img class="img-border img-responsive thumbnail img-fluid"  src="1.png" alt=":-( Not-Found"/></a></p>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;" ><i class="fa fa-arrow-circle-o-right"></i>
                        <b> Admin can update the SMS Notification template also. </b>
                    </div>
                    <p><a href="2.png"><img class="img-border img-responsive thumbnail img-fluid"  src="2.png" alt=":-( Not-Found"/></a></p>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;" ><i class="fa fa-arrow-circle-o-right"></i>
                         <b> Admin can configure the SMS reminder settings and the time duration for each appointment. </b>
                     </div>
                    <p><a href="3.png"><img class="img-border img-responsive thumbnail img-fluid"  src="3.png" alt=":-( Not-Found"/></a></p>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;" ><i class="fa fa-arrow-circle-o-right"></i>
                         <b> All the records of SMS notifications template can be viewed here. </b>
                     </div>
                    <p><a href="4.png"><img class="img-border img-responsive thumbnail img-fluid"  src="4.png" alt=":-( Not-Found"/></a></p>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="pt32" id="webkul_support">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Help and Support</h2>
            <p class="mb-2 text-center" style="font-size:16px; color:#333; font-weight:400">Get Immediate support for any of your query</p>
        </div>
        <div class="col-12">
            <p class="text-center px-5" style="font-size:14px; color:#555; font-weight:normal">You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.</p>
        </div>
        <div class="mx-auto col-lg-9 mb-4 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0 p-3">
                <div class="col-sm-2 text-center pr-0">
                    <img src="mail.png" alt="mail" class="img img-fluid">
                </div>
                <div class="col-xl-7 col-sm-10">
                    <p class="my-2" style="color:#555; font-weight:bold">Write a mail to us:</p>
                    <b class="text-primary" style="font-size:18px">support@webkul.com</b>
                    <p class="my-2" style="font-size:14px; color:#777; font-weight:normal">Any queries or want any extra features? Just drop a mail to our support.</p>
                </div>
                <div class="col-xl-3 offset-xl-0 float-xl-right col-sm-10 offset-sm-2 float-left mt16">
                    <a href="mailto:support@webkul.com" style="padding:10px 22px; background-color:#2335D7; font-size:14px; color:#fff"><i class="fa fa-pencil-square-o" style="color:white; margin-right:4px"></i>Write To US</a>
                </div>
            </div>
        </div>
        <div class="mx-auto col-lg-9 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0 p-3">
                <div class="col-sm-2 text-center pr-0">
                    <img src="support-icon.png" alt="support-icon" class="img img-fluid">
                </div>
                <div class="col-sm-10 ">
                    <p class="my-2" style="font-weight:bold; color:#555">Get in touch with our Expert:</p>
                    <b class="text-primary text-break" style="font-size:18px">https://webkul.uvdesk.com/en/customer/create-ticket/</b>
                    <p class="my-2" style="font-weight:normal; font-size:14px; color:#777">Have any technical queries, want extra features, or anything else? Our team is here to answer all your questions. Just Raise A Support Ticket.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="">
        <!-- Piwik Image Tracker-->
        <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=APPOINTMENT-SMS-NOTIFICATION-MANAGEMENT&url=https://apps.openerp.com/apps/modules/13.0/appointment_sms_notification&uid=appointment_sms_notification" style="border:0" alt="" />
        <!-- End Piwik -->
    </div>
</section>
