<!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>)  -->
<!-- See LICENSE file for full copyright and licensing details.  -->
<!-- License URL : https://store.webkul.com/license.html/  -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->


<div class="container">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <div style="margin: 0 auto;font-family: 'Montserrat', sans-serif;">
        <section class="oe_container" id="wk_header">
            <div class="mt16 mb16">
                <h2 class="text-center" style="color:#000">
                        Odoo e-Wallet
                </h2>
                <h5 class="mt8 mb8 text-center" style="font-weight:500; font-size:18px; color:#484848; font-family:'Montserrat', sans-serif">
                    <i>Accept Hassle-free Payments via e-Wallet in your Odoo Website!</i>
                </h5>
            </div>
            <div class="row py-1 mx-1 mt-4" style="font-weight:500; font-size:18px; color:#484848; font-family:'Montserrat', sans-serif">
                <div class="container col-md-6" style="font-weight:500;line-height: 24px;font-size:16px;color:#484848;font-family:'Montserrat', sans-serif; vertical-align: middle; display: grid;">
                    <p class="mb4 mt4 mr8">
                        Odoo Website Wallet offers e-wallet to the customers so that they can add their money on it and use it whenever required. Hence, it lets you offer the cashfree payment option to your customers which is really convenient as well as secure.
                    </p>
                </div>
                <div class="container col-md-6 border-left">
                    <h4 class="ml-md-3">Information</h4>
                    
                    <div class="mt-2 ml-md-3" style="display:flex">
                        <span class="ml-1 mr-2 my-auto"><img src="icon-user-guide.png" alt="user-guide"></span>
                        <div style="font-weight: 600;font-size: 14px;line-height: 10px;" class="mt-2">
                            User Guide
                        </div>
                    </div>
                    <div class="ml-md-3" style="display:flex;">
                        <span style="font-size:15px; margin-top:0.2rem">https://webkul.com/blog/odoo-website-wallet/</span>
                    </div>
                </div>
            </div>            
        </section>

        <div style="padding:0 20px;">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 mb-3" style="box-shadow: 0 0 2px 1px rgba(0,0,0,0.07);border-radius: 2px;padding:10px 20px;">
                    <div class="content" style="font-size: 16px;color: #555555;line-height: 24px;font-weight: 400;">
                        <p>
                            Odoo Website Wallet offers e-wallet to the customers so that they can add their money on it and use it whenever required. Hence, it lets you offer the cashfree payment option to your customers which is really convenient as well as secure.
                        </p>
                        <p>
                            The more ease you will offer ease to your customers, the more it will increase their chance to select you over others. Payments are one of the most crucial parts of any purchase whether it is offline as well online. Most of the people prefer to make the payments via e-wallets now because of the ease offered.
                        </p>
                        <p>
                            Cashless payments do not just offer ease but also help you to keep track of your day to day transactions. Online Payments have boosted up the speed of payment flows worldwide. 
                        </p>
                        <p>
                            Hence, for the ease of your customers, you can offer an easy way to your customers to pay via wallet in your Odoo Website. It offers a hasslefree way to your customers to simply credit money to the wallet and use it anytime.                                
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class='shadow-sm' style="margin:20px 0;padding:0 20px;">
            <div class='row pt-3'>
                <div class='col-12 col-md-7'>
                    <h4><b>
                        Creating e-Wallet for your Website in Odoo</b>
                    </h4>
                    <p>
                        The module Odoo Website Wallet allows you to let the customers manage their e-Wallet so that they can make hassle-free payments.
                    </p>
                    <p>
                        You can add the money in the customers’ wallet; so that they can make the purchase with the amount credited in their wallet.
                    </p>
                    <p>
                        Odoo Website Wallet is secure for the payments and let your customers pay quickly when money is already added to the wallet.
                    </p>
                    <p>
                        It makes their shopping experience more comfortable as complicated checkout procedures are one of the main reasons customers abandon their shopping carts.
                    </p>
                </div>
                <div class='col-12 col-md-5'>
                    <img class='w-100' src='illustration-1.png' alt='illustration 1'/>
                </div>
            </div>
        </div>

        <div class='shadow-sm' style="margin:40px 0;padding:0 20px;">
            <div class='row pt-3'>
                <div class='col-12 col-md-5'>
                    <img class='w-100' src='illustration-2.png' alt='illustration 2'/>
                </div>
                <div class='col-12 col-md-7'>
                    <h4><b>
                        Track the transactions Made Via Wallet from one place</b>
                    </h4>
                    <p>
                        The Odoo website wallet helps you to keep track of your credited as well as debited amounts. Moreover, it also helps you to make the refund process easier.
                    </p>
                    <p>
                        You can even check the tag of the transaction whether it is a refund,bonus, etc. You can create these transaction tags as per your requirements. Apart from this, you can sort the transaction list as per your convenience.
                    </p>
                    <p>
                        The module helps you track the transaction made via wallet in your Odoo website from a single place. 
                    </p>
                </div>
            </div>
        </div>

        <div class='shadow-sm' style="margin:20px 0;padding:0 20px;">
            <div class='row'>
                <div class='col-12 col-md-7'>
                    <h4>
                        <b>
                            Highlight
                        </b>
                    </h4>
                    <p>
                        Features of Module Name
                    </p>
                </div>
            </div>
            <div class='row'>
                <div class='col-12 col-md-4 shadow-sm'>
                    <div class='row pt-3'>
                        <div class='col-md-3 p-0'>
                            <img class='w-100' src='icon-1.png' alt='icon 1'/>    
                        </div>
                        <div class='col-md-9'>
                            <b>
                                Add the money in the customer’s wallet.
                            </b>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 shadow-sm'>
                    <div class='row pt-3'>
                        <div class='col-md-2 p-0'>
                            <img class='w-100' src='icon-2.png' alt='icon 2'/>    
                        </div>
                        <div class='col-md-10'>
                            <b>
                                Customers can make the quick and easy payment directly.
                            </b>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4 shadow-sm'>
                    <div class='row pt-3'>
                        <div class='col-md-2 p-0'>
                            <img class='w-100' src='icon-3.png' alt='icon 3'/>    
                        </div>
                        <div class='col-md-10'>
                            <b>
                                You can offer a refund directly to the customer's wallet.
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='shadow-sm' style="margin:20px 0;padding:0 20px;">
            <div class='row no-gutters pt-3'> 
                <div class='col-12'>
                    <h4><b>
                            Detailed Features List
                        </b>
                    </h4>
                    <p>
                        Below is the detailed list of Feature for Module Name.
                    </p>
                    <div class='row mt-3 mx-0' style='padding-left:5%;'>
                        <ul class='col-12 col-sm-10 px-0' style='line-height: 37px;'>
                            <li>Now you don&#39;t have to manually open each task to know the status and progress.</li>
                            <li>No need to track each task of each project individually.</li>
                            <li>No need to check deadlines of each task separately.</li>
                            <li>View and manage tasks from the Gantt View to ensure timely completion of every work.</li>
                            <li>Make Informed choices to make sure the timely completion of work.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class='row mx-0 my-3'>
            <div class='col-12'>
                <div class="tab-content" id="wk_TabContent">
                    <div class="tab-pane fade show active pt-sm-4" id="wk_ss_home" role="tabpanel" aria-labelledby="wk-ss-tab">
                        <div class="card">
                            <div class="card-header px-0 text-center" style='background-color:rgba(191, 180, 180, 0.03);'>
                                    <h4>
                                        <b>
                                            Display/Hide Odoo e-wallet
                                        </b>
                                    </h4>
                                    <p class='m-0' style='
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 18px;
                                    line-height: 22px;                 
                                    text-align: center;
                                    color: #333333;'>
                                        Manage multiple wallets for multiple companies(One Per Company).
                                    </p>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <a href="wallet_settings_1.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="wallet_settings_1.png"></a>
                                </div>
                                <div class="">
                                    <a href="wallet_settings_2.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="wallet_settings_2.png"></a>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <div class="card-header px-0 text-center" style='background-color:rgba(191, 180, 180, 0.03);'>
                                <h4>
                                    <b>
                                        The module provide options to show/hide Odoo e-wallet and e-wallet transactions for customers and users.
                                    </b>
                                </h4>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <a href="wallet_settings_3.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="wallet_settings_3.png"></a>
                                </div>
                                <div class="">
                                    <a href="backend_wallet_menu.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="backend_wallet_menu.png"></a>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <div class="card-header px-0 text-center" style='background-color:rgba(191, 180, 180, 0.03);'>
                                <h4>
                                    <b>
                                        Create a new e-wallet transaction.
                                    </b>
                                </h4>
                                <p class='m-0' style='
                                font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 22px;                 
                                text-align: center;
                                color: #333333;'>
                                    The Odoo admin can create a new transaction to add money to the Odoo e-wallet of the customer.
                                </p>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <a href="transaction.png""><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="transaction.png"></a>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <div class="card-header px-0 text-center" style='background-color:rgba(191, 180, 180, 0.03);'>
                                <h4>
                                    <b>
                                        E-wallet transaction history
                                    </b>
                                </h4>
                                <p class='m-0' style='
                                font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 22px;                 
                                text-align: center;
                                color: #333333;'>
                                    The details for each e-wallet transaction- credit and debit can be viewed in the Odoo backend.
                                </p>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <a href="backend_credit_debit.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="backend_credit_debit.png"></a>
                                </div>
                                <div class="">
                                    <a href="credit_logs.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="credit_logs.png"></a>
                                </div>
                                <div class="">
                                    <a href="credit_logs.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="debit_logs.png"></a>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <div class="card-header px-0 text-center" style='background-color:rgba(191, 180, 180, 0.03);'>
                                    <h4>
                                        <b>
                                            Assigning Transaction Tags
                                        </b>
                                    </h4>
                                    <p class='m-0' style='
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 18px;
                                    line-height: 22px;                 
                                    text-align: center;
                                    color: #333333;'>
                                        The transaction tags can be created and assigned to each credit e-wallet transaction to show the reason for adding the money to the wallet such as bonus, exchange, refund, etc,
                                    </p>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <a href="transaction_tags.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="transaction_tags.png"></a>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <div class="card-header px-0 text-center" style='background-color:rgba(191, 180, 180, 0.03);'>
                                    <h4>
                                        <b>
                                            Wallet Balance
                                        </b>
                                    </h4>
                                    <p class='m-0' style='
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 18px;
                                    line-height: 22px;                 
                                    text-align: center;
                                    color: #333333;'>
                                        The Odoo admin can view the wallet balance of the customers in the Odoo backend.
                                    </p>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <a href="transaction_tags.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="customers.png"></a>
                                </div>
                                <div class="">
                                    <a href="transaction_tags.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="customer_wallet.png"></a>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <div class="card-header px-0 text-center" style='background-color:rgba(191, 180, 180, 0.03);'>
                                    <h4>
                                        <b>
                                            Paying with e-wallet on Odoo website
                                        </b>
                                    </h4>
                                    <p class='m-0' style='
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 18px;
                                    line-height: 22px;                 
                                    text-align: center;
                                    color: #333333;'>
                                        The Odoo admin can view the wallet balance of the customers in the Odoo backend.The customers can use their e-wallet balance to pay for the order. The remaining amount (if any) can be paid by any other method.
                                    </p>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <a href="transaction_tags.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="pay_using_wallet.png"></a>
                                </div>
                                <div class="">
                                    <a href="transaction_tags.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="paid_using_wallet.png"></a>
                                </div>
                                <div class="">
                                    <a href="transaction_tags.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="sale_order_sent.png"></a>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <div class="card-header px-0 text-center" style='background-color:rgba(191, 180, 180, 0.03);'>
                                <h4>
                                    <b>
                                        E-wallet transaction ID in order
                                    </b>
                                </h4>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <a href="transaction_tags.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="backend_sale_order.png"></a>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <div class="card-header px-0 text-center" style='background-color:rgba(191, 180, 180, 0.03);'>
                                    <h4>
                                        <b>
                                            Odoo e-wallet transactions details
                                        </b>
                                    </h4>
                                    <p class='m-0' style='
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 18px;
                                    line-height: 22px;                 
                                    text-align: center;
                                    color: #333333;'>
                                        The customers can view the details of their e-wallet transactions in their Odoo website accounts.
                                    </p>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <a href="transaction_tags.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="frontend_wallet.png"></a>
                                </div>
                                <div class="">
                                    <a href="transaction_tags.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="single_amount_logs.png"></a>
                                </div>
                                <div class="">
                                    <a href="transaction_tags.png"><img style="width:100%;display:block;margin-left:auto;margin-right:auto;height:420px;width:94%;margin-bottom: 4%;" class=" oe_screenshot" src="amount_logs.png"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
        
    <section class="pt32 mt-5" id="webkul_support">
<div class="row">
    <div class="col-12">
        <h2 class="text-center">Help and Support</h2>
        <p class="mb-2 text-center" style="font-size:16px; color:#333; font-weight:400">Get Immediate support for any of your query</p>
    </div>
    <div class="col-12">
        <p class="text-center px-5" style="font-size:14px; color:#555; font-weight:normal">You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.</p>
    </div>
    <div class="mx-auto col-lg-9 mb-4 oe_screenshot">
        <div class="row align-items-center justify-content-center mx-0 p-3">
            <div class="col-sm-2 text-center pr-0">
                <img src="mail.png" alt="mail" class="img img-fluid">
            </div>
            <div class="col-xl-7 col-sm-10">
                <p class="my-2" style="color:#555; font-weight:bold">Write a mail to us:</p>
                <b class="text-primary" style="font-size:18px">support@webkul.com</b>
                <p class="my-2" style="font-size:14px; color:#777; font-weight:normal">Any queries or want any extra features? Just drop a mail to our support.</p>
            </div>
            <div class="col-xl-3 offset-xl-0 float-xl-right col-sm-10 offset-sm-2 float-left mt16">
                <a href="mailto:support@webkul.com" style="padding:10px 22px; background-color:#2335D7; font-size:14px; color:#fff"><i class="fa fa-pencil-square-o" style="color:white; margin-right:4px"></i>Write To US</a>
            </div>
        </div>
    </div>
    <div class="mx-auto col-lg-9 oe_screenshot">
        <div class="row align-items-center justify-content-center mx-0 p-3">
            <div class="col-sm-2 text-center pr-0">
                <img src="support-icon.png" alt="support-icon" class="img img-fluid">
            </div>
            <div class="col-sm-10 ">
                <p class="my-2" style="font-weight:bold; color:#555">Get in touch with our Expert:</p>
                <b class="text-primary text-break" style="font-size:18px">https://webkul.uvdesk.com/en/customer/create-ticket/</b>
                <p class="my-2" style="font-weight:normal; font-size:14px; color:#777">Have any technical queries, want extra features, or anything else? Our team is here to answer all your questions. Just Raise A Support Ticket.</p>
            </div>
        </div>
    </div>
</div>
    </section>
</div>
