/* Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) */
/* See LICENSE file for full copyright and licensing details. */
.gift-card-msg{
    font-size:18px;
    color:#424242;
    margin-top:-10px;
    line-height: 95%;
}
.gift-card-validity{
    color:#2E7D32;
}
.gift-card-address-modal{
     font-size:12px;
     margin-left: 15px;
     cursor: pointer;
     text-decoration:none !important; 
}
.btn-color-voilet
{
    background-color:#5f5e97;
    color:white
}