#cont{
    position: relative;
    width: 400px;
    height: 500px;
}
#address_cont{
    position: relative;
    width: auto;
    height: 225px;
    margin: 2%;
}
#address_map{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
input[name="partner_latitude"] {
    display: none;
}
input[name="partner_longitude"] {
    display: none;
}